---
layout: 'default'
title: 'Fast Lecture 05'
lecture_date: '2014/02/04'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins


- var images = get_images('keyhaven')


+title_slide({document:document, images:images})

.exercises_fast 13.28--13.31



//- unit: Vegetarians are evil
+insert_unit({unit:'502', title_slide:false, images:images})

//- counterexamples
+insert_unit({unit:'502b', title_slide:true, images:images})



+slide_middle
  p.center No lectures or seminars in reading week (Week 6).



//- theme: multiple quantifiers
//- unit: Something is above something
+insert_unit({unit:'740', title_slide:true, images:images})

//- everyone likes puffins
+insert_unit({unit:'742', title_slide:true, images:images})



//- -----------------------
//- relations (includes how to express counterexamples formally)
//- serves to further introduce multiple quantifiers and counterexamples

+insert_unit({unit:'125', title_slide:true, images:images})

+insert_unit({unit:'581', title_slide:true, images:images})

+insert_unit({unit:'583', title_slide:true, images:images})


+slide_middle
  p.center No lectures or seminars in reading week (Week 6).


//- there is a store for everything
+insert_unit({unit:'560', title_slide:true, images:images})

+slide_middle
  p.center No lectures or seminars in reading week (Week 6).



//- *Do feedback forms
+slide_middle
  p.center feedback


//- 2013-4 ended here, was fine to finish on feedback I think

//-
  //- unit: ∀Intro: An Incorrect Proof
  +insert_unit({unit:'572', title_slide:true, images:images})

  //- There Does Not Exist
  +insert_unit({unit:'605', title_slide:true, images:images})


  //- unit: Two things are broken
  +insert_unit({unit:'470', title_slide:true, images:images})


  //- unit: quantifier equivalences: using propositional equivalences
  +insert_unit({unit:'760', title_slide:true, images:images})
  +insert_unit({unit:'764', title_slide:true, images:images})

  //- unit: Statement of soundness and completeneness
  +insert_unit({unit:'400', title_slide:true, images:images})



//- 2013-4 ended here (and was a bit too much -- should have stopped without doing the universal-arrow thing)

  //- unit: State the subsitution theorem
  +insert_unit({unit:'250', title_slide:true, images:images})

  //- unit: Fubar Rules
  +insert_unit({unit:'340', title_slide:true, images:images})
  
  //- *hope not to have time for this (but it's a good one to end on)
  //- unit: Does ‘if’ mean what ‘→’ means?
  +insert_unit({unit:'640', title_slide:true, images:images})

+slide_middle
  p.center No lectures or seminars in reading week (Week 6).














