---
layout: 'default2'
title: 'Fast Lecture 02'
lecture_date: '2014/1/14'
units: []
---


//- **************************************************************************************************
//- * todo move the subproofs from lecture 03 to here or update exercises (see feedback in lecture 03)
//- **************************************************************************************************

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins


- var images = get_images('sunset')


+title_slide({document:document, images:images})

//- section: unit_211, unit_21 = formal proof 1
+insert_unit({unit:'211', title_slide:false, images:images})
+insert_unit({unit:'21', title_slide:false, images:images})

//- unit: proof - compare conjunction intro with disjunction intro
+insert_unit({unit:'212', title_slide:true, images:images})

//- how to write proofs
+insert_unit({unit:'130', title_slide:true, images:images})

+slide_middle
  p.center Fast track and normal seminars have 
    span.diff different exercises.
  +highlight('.diff', 'red')

//- unit: rules for identity
+insert_unit({unit:'110', title_slide:true, images:images})


//- unit: DeMorgan: ¬(A ∧ B) ⫤⊨ ¬A ∨ ¬B
+insert_unit({unit:'235', title_slide:true, images:images})

//- unit: arrow intro, arrow elim
+insert_unit({unit:'390', title_slide:true, images:images})
//- continuation: arrow-intro proof example
+insert_unit({unit:'391', title_slide:false, images:images})



//- unit: disjunction-Elim ∨Elim (and ∨Intro)
+insert_unit({unit:'222', title_slide:true, images:images})
+insert_unit({unit:'221', title_slide:false, images:images})

//- ¬, ⊥ (270)
+insert_unit({unit:'270', title_slide:true, images:images})

//- ¬Elim (280)
+insert_unit({unit:'280', title_slide:true, images:images})

//- Scope: A Mistaken Application of ¬Elim (291)
+insert_unit({unit:'291', title_slide:false, images:images})

//- ¬Intro (281)
+insert_unit({unit:'281', title_slide:true, images:images})

//- no time in 2013-4 : done in fastlecture_03
//- unit: formal proof (identity again)
+insert_unit({unit:'111', title_slide:true, images:images})

//-
  //- unit: truth-functional connectives
  +insert_unit({unit:'072', title_slide:true, images:images})

//-
  //- unit: A and B or C
  +insert_unit({unit:'151', title_slide:true, images:images})
  +insert_unit({unit:'152', title_slide:false, images:images})
  +insert_unit({unit:'154', title_slide:false, images:images})

  //- unit: Ambiguity (elephant pyjamas)
  +insert_unit({unit:'170', title_slide:true, images:images})

  //- didn't need in 2012-3  
  //- unit: Syntax for Logiya (hopefully won't have time: belongs in lecture 03)
  +insert_unit({unit:'230', title_slide:true, images:images})


