---
layout: 'default'
title: 'Lecture 16'
lecture_date: '2014/03/06'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali2')

+title_slide({document:document, images:images})


//- *** nb some material left over from lecture 15 could use here ***


//- Every Time I Go to the Dentist Someone Dies (750)
+insert_unit({unit:'750', title_slide:true, images:images})

//- may have to skip this (but I like it)
//- Could There Be Nothing? (805)
+insert_unit({unit:'805', title_slide:true, images:images})

//- will there be time?  2012-3 = would have been a bit of a squeeze (glad I cut it)
//- unit: Does ‘if’ mean what ‘→’ means?
+insert_unit({unit:'640', title_slide:true, images:images})


//- --------------------------------------------------
//- completeness

//- outline of completeness theorem
+insert_unit({unit:'450', title_slide:true, images:images})

//- proofs about proofs
+insert_unit({unit:'440', title_slide:true, images:images})
  
//- lemma for completeness
+insert_unit({unit:'453', title_slide:true, images:images})

//- completeness
+insert_unit({unit:'455', title_slide:true, images:images})

//- Proof of Proposition 4 for the Completeness Theorem
//- skip if short of time
+insert_unit({unit:'465', title_slide:true, images:images})


//- More Records Than the KGB (780)
+insert_unit({unit:'780', title_slide:true, images:images})

//- The End Is Near (790)
+insert_unit({unit:'790', title_slide:false, images:images})
