---
layout: 'default2'
title: 'Lecture 02'
lecture_date: '2016/1/14'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/logic_mixins

- var images = get_images('sweeden')


+title_slide({document:document, images:images})

//-  TODO: unit on logical truth, contradiction and logical possibility (also in fast lectures) ***


//- learning objectives
+insert_unit({unit:'013', title_slide:false, images:images, handout:false})

//- counterexamples
+insert_unit({unit:'04', title_slide:true, images:images})

//- recap: validity and counterexamples 
//- [only use this if counterexamples (unit 04) was done in lecture 01]
//- +insert_unit({unit:'05', title_slide:true, images:images})

//- soundness
+insert_unit({unit:'041', title_slide:true, images:images})


// unit: identity
+insert_unit({unit:'06', title_slide:true, images:images})



//- formalizing the pigs
+insert_unit({unit:'135', title_slide:true, images:images})

//- unit: sentence letters
+insert_unit({unit:'012', title_slide:true, images:images})


//- postsecret quiz: logically valid arguments
- each d in getCollection("documents").findAll({url:'/quizes/postsecret_01.html'},[{year:-1,sort_order:1}]).toJSON()
  mixin render_unit(d)

//- unit: truth tables
+insert_unit({unit:'071', title_slide:true, images:images})


//- unit: complex truth tables, not(P and Q) 
+insert_unit({unit:'60', title_slide:true, images:images})

+insert_unit({unit:'065', title_slide:true, images:images})
