---
layout: 'default'
title: 'Lecture 14'
lecture_date: '2016/03/03'
units: []
recording: 'https://lecturecapture.warwick.ac.uk/ess/echo/presentation/52dcacdd-d9ca-4048-9492-5cef6cb2e0db'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('twins_2009c')

+title_slide({document:document, images:images})

//- Two Things Are Broken
+insert_unit({unit:'470', title_slide:false, images:images})

//- Loving and Being Loved (755)
+insert_unit({unit:'755', title_slide:true, images:images})

//- Somebody Is Not Dead (607)
+insert_unit({unit:'607', title_slide:true, images:images})


//- Quantifier Equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Broken(x) → ¬Square(x)) (760)
+insert_unit({unit:'760', title_slide:true, images:images})
+insert_unit({unit:'762', title_slide:false, images:images})

//- will probably skip this
//- More Dead Horse (565)
+insert_unit({unit:'565', title_slide:true, images:images})

