---
layout: 'default2'
title: 'Lecture 04'
lecture_date: '2014/1/16'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('frozen')

+title_slide({document:document, images:images})

//- disjunction intro
+insert_unit({unit:'225', title_slide:false, images:images})

//- unit: proof - compare conjunction intro with disjunction intro
+insert_unit({unit:'212', title_slide:true, images:images})

//- unit: formal proof (identity again)
+insert_unit({unit:'111', title_slide:true, images:images})
  
+slide_middle
  p.center Too slow?  Try fast-track.

+slide_middle
  p.center.huge-glow Logic Support
  p.center Fridays from 4-6pm in S0.13

//- unit: truth-functional connectives
+insert_unit({unit:'072', title_slide:true, images:images})

//- the Bush examples
+slide_middle
  p.center Dissatisfaction is good
+insert_unit({unit:'162', title_slide:false, images:images})


//- unit: A and B or C
+insert_unit({unit:'151', title_slide:true, images:images})
+insert_unit({unit:'153', title_slide:false, images:images})
+insert_unit({unit:'154', title_slide:false, images:images})


//- not used in 2012/3
//- unit: Ambiguity (elephant pyjamas)
+insert_unit({unit:'170', title_slide:true, images:images})
