---
layout: 'default'
title: 'Lecture 10'
lecture_date: '2016/02/11'
units: []
recording : 'https://lecturecapture.warwick.ac.uk/ess/echo/presentation/fc77481d-2d74-4729-86f4-456101159b98'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

// *todo: enough images?
- var images = get_images('sunclouds')

//- *timing: 2013-4 allowed 3 min for feedback and had to skip part of 605 and rush through 764 --- tiny bit too long

+title_slide({document:document, images:images})

//- todo check not already included in units
.exercises 8.17-–8.19, *8.20–-8.23
//- todo remove (now part of unit 507)
.exercises 9.4–-9.5, 9.8–-9.9


//- ∃Intro, includes recap of ∀Elim
+insert_unit({unit:'801', title_slide:false, images:images})



//- propositional part

//- What does ‘→’ mean? (700)
+insert_unit({unit:'700', title_slide:true, images:images})

//- Not If
+insert_unit({unit:'604', title_slide:true, images:images})

+slide_middle
  p.center No lectures or seminars in reading week (Week 6).

//- ↔ : truth tables and rules (567)
+insert_unit({unit:'567', title_slide:true, images:images})

//- fubar rules
+insert_unit({unit:'340', title_slide:true, images:images})

+slide_middle
  p.center.huge-glow logic support
  p.em-above S2.81
  p.em-above Mondays, 15th and 22nd February 2016
  p.em-above 19:00-20:00


+slide_middle
  p.center No lectures or seminars in reading week (Week 6).

//- Moved to lecture 11 2015-6
//- unit: translating sentences with quantifiers
//- +insert_unit({unit:'507', title_slide:true, images:images})


//- +slide_middle
//-   p.center feedback


//- quantifier part

+slide_middle
  p.center No lectures or seminars in reading week (Week 6).

//- What does ∃ mean? (491)
+insert_unit({unit:'491', title_slide:true, images:images})

//- There Does Not Exist
+insert_unit({unit:'605', title_slide:true, images:images})

//- Quantifier Equivalences: ∀x Created(x) ⫤⊨ ¬∃x Created(x)
+insert_unit({unit:'764', title_slide:true, images:images})


+slide_middle
  p.center No lectures or seminars in reading week (Week 6).
