---
layout: 'default'
title: 'Lecture 16'
lecture_date: '2014/03/06'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali2')

+title_slide({document:document, images:images})


//- *** nb some material left over from lecture 15 could use here ***


//- Every Time I Go to the Dentist Someone Dies (750)
+insert_unit({unit:'750', title_slide:true, images:images})

//- There Is Exactly One (625)
+insert_unit({unit:'625', title_slide:true, images:images})

//- may have to skip this (but I like it)
//- Could There Be Nothing? (805)
+insert_unit({unit:'805', title_slide:true, images:images})


//- --------------------------------------------------
//- completeness

//- outline of completeness theorem
+insert_unit({unit:'450', title_slide:true, images:images})

//- proofs about proofs
+insert_unit({unit:'440', title_slide:true, images:images})

  
//- --------------------------------------------------
//- misc
      
//- will there be time?  2012-3 = would have been a bit of a squeeze (glad I cut it)
//- unit: Does ‘if’ mean what ‘→’ means?
+insert_unit({unit:'640', title_slide:true, images:images})

// Proof Example: ∃x Dead(x) ⊢ ¬∀x¬ Dead(x). (825)
+insert_unit({unit:'825', title_slide:true, images:images})

//- Proof Example: ¬∀x Dead(x) ⊢ ∃x¬ Dead(x). (826)
+insert_unit({unit:'826', title_slide:true, images:images})


