---
layout: 'default'
title: 'Lecture 05'
lecture_date: '2016/1/26'
units: []
recording: 'https://lecturecapture.warwick.ac.uk/ess/echo/presentation/65b16d4b-0b7d-4775-be1f-973ad7dd3da0'

---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('birds_baby')

+title_slide({document:document, images:images})


//- skit: logic buddy
- each d in getCollection("documents").findAll({url:'/skits/skit_03.html'},[{year:-1,sort_order:1}]).toJSON()
  +render_unit(d)


//- unit: negation and contradiction (rules of proof for contradiction)
+insert_unit({unit:'270', title_slide:true, images:images})


//- unit: arrow intro, arrow elim
+insert_unit({unit:'390', title_slide:true, images:images})

//- Subproofs with zoxiy
+insert_unit({unit:'395', title_slide:true, images:images})


//- skit: feedback
+slide_middle
  p.center.huge-glow feedback
  p.center ‘The lectures are really helpful and engaging, however it is quite difficult to write down all the important points during the lectures so it would be really helpful if the powerpoints from the lectures and maybe even audio recordings could be made available to students.’

//- +slide_middle
//-   p.center.huge-glow Logic Support
//-   p.center Fridays, 4-6pm in S0.13

+slide_middle
  .notes When people say they can't do logic, sometimes that's not true and they are thinking they can't do it just because they don't realise that it requires time.
  p.center.huge-glow 8 hours

+slide_middle
  .notes When people say they can't do logic, sometimes that's not true and they are thinking they can't do it just because they don't realise that they need to read the textbook.
  p.center.huge-glow read, then do exercise

//-
  //- p.slide  ‘WHY HAVEN’T WE BEEN GIVEN ANY HELP FOR USING THE PROGRAMMES?!!! Pen and Paper all the way. I can’t do half of the exercises as I can’t use the programmes that we’re s’posed to do them on..’
  //- - each d in getCollection("documents").findAll({url:'/skits/skit_01.html'},[{year:-1,sort_order:1}]).toJSON()
  //-   mixin render_unit(d)

//- Cut from 2015/6
//- identity-Elim again (how to prove when identity is the wrong way around)
//- +insert_unit({unit:'112', title_slide:true, images:images})


//- unit: Ambiguity recap (elephant pyjamas)
+insert_unit({unit:'170', title_slide:true, images:images})
//- I Shot an Elephant In My Pyjamas
+insert_unit({unit:'171', title_slide:true, images:images})


//- //- 2013-4 ended here (could have done a bit more, but not ∨Elim)
//-
//- //- disjunction-Elim ∨Elim (and ∨Intro)
//- //- state disjunction-Elim ∨Elim (and ∨Intro)
//- +insert_unit({unit:'222', title_slide:true, images:images})
//- //- prefix with discussion of why ∨Elim can't be much simpler (soundness theorem)
//- +insert_unit({unit:'226', title_slide:false, images:images})
//- //- example proof with disjunction-elim
//- +insert_unit({unit:'221', title_slide:false, images:images})
//-
//-
//- //- not or
//- +insert_unit({unit:'603', title_slide:true, images:images})
//-
//- //- deMorgan
//- +insert_unit({unit:'235', title_slide:true, images:images})
//-
//-
//- //- TODO: include 604 in lecture 06 !!!
//-
//- //- TODO: move to lecture 06 or later!
//-   //- unit: everything is broken (intro to quantifiers)
//-   - var d2 = get_unit('473')
//-   - var d = get_unit('471')
//-     mixin section({unit:d, images:images})
//-     //- choose your quantifiers (polka, value)
//-     mixin render_unit(d2)
//-     mixin render_unit(d)
//-
//-
//-
//- //- *TODO 2013-4 move to lecture 06 ...
//- //- continuation: arrow elim hard proof example
//-   +insert_unit({unit:'391', title_slide:false, images:images})
//-
