---
layout: 'default'
title: 'Lecture 17'
lecture_date: '2016/03/15'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali2')

+title_slide({document:document, images:images})

//- revision truth tables
+insert_unit({unit:'972', title_slide:false, images:images})

//- revision definitions
+insert_unit({unit:'975', title_slide:true, images:images})

+slide_middle
  p.center No lecture this Thursday 

//- revision proofs
+insert_unit({unit:'977', title_slide:true, images:images})

//- revision proofs
+insert_unit({unit:'979', title_slide:true, images:images})

//- TODO 979 !!!
+slide_middle
  p.center No lecture this Thursday 

//- revision translation
+insert_unit({unit:'971', title_slide:true, images:images})


//- Check these not done in lecture 16!

//- //- unit: Does ‘if’ mean what ‘→’ means?
//- +insert_unit({unit:'640', title_slide:true, images:images})

// Proof Example: ∃x Dead(x) ⊢ ¬∀x¬ Dead(x). (825)
+insert_unit({unit:'825', title_slide:true, images:images})

//- Proof Example: ¬∀x Dead(x) ⊢ ∃x¬ Dead(x). (826)
+insert_unit({unit:'826', title_slide:true, images:images})




//- //- More Records Than the KGB (780)
//- +insert_unit({unit:'780', title_slide:true, images:images})

//- The End Is Near (790)
+insert_unit({unit:'790', title_slide:false, images:images})
