---
layout: 'default'
title: 'Lecture 16'
lecture_date: '2014/03/06'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali2')

+title_slide({document:document, images:images})


//- *** nb some material left over from lecture 15 could use here ***


//- Every Time I Go to the Dentist Someone Dies (750)
+insert_unit({unit:'750', title_slide:false, images:images})

//- There Is Exactly One (625)
+insert_unit({unit:'625', title_slide:true, images:images})

//- may have to skip this (but I like it)
//- Could There Be Nothing? (805)
+insert_unit({unit:'805', title_slide:true, images:images})


//- --------------------------------------------------
//- completeness

//- outline of completeness theorem
+insert_unit({unit:'450', title_slide:true, images:images})

//- A ⊨ ⊥
+insert_unit({unit:'467', title_slide:true, images:images})

//- If (A ⊬ ⊥ entails A ⊭TT ⊥) then  (A ⊨TT B entails A ⊢ B) 
+insert_unit({unit:'469', title_slide:true, images:images})

//- proofs about proofs
+insert_unit({unit:'440', title_slide:true, images:images})

      
