---cson
layout: 'deck_units'
title: "Summary of Relations"
description: "Quick summary definition of reflexive, symmetric and transitive."
tags: ['relations']
depends: ['120','125']
source: ['ph126 lecture 11']
duration: 3
book: []
exercises: []
exercises_fast: []
sequence: 780
handout: false
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_126/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-171.jpeg'})
  .notes 

