---cson
layout: 'deck_units'
title: "Soundness"
description: "Explains the notion of a sound argument."
tags: ['definitions']
depends: ['unit_03']
source: ['ph126 lecture 01']
sequence: 80
exNormal: [
  '/ex/q/Define ‘sound argument’'
  """/ex/TorF/from/LeftOf(a,b)|LeftOf(b,c)/to/LeftOf(a,c)/world/[{"x":5,"y":0,"w":2,"h":2,"n":"a","c":"white","f":[":'","-","|"]},{"x":1,"y":0,"w":2,"h":2,"n":"b","c":"yellow","f":[":'","-","()"]},{"x":3,"y":0,"w":2,"h":2,"n":"c","c":"red","f":["}:","^","("]}]/qq/LeftOf(a,b)|LeftOf(b,c)|LeftOf(a,c)|The argument is logically valid|The argument is sound in this possible situation"""
  """/ex/TorF/from/LeftOf(a,b)|LeftOf(b,c)/to/LeftOf(a,c)/world/[{"x":2,"y":0,"w":2,"h":2,"n":"a","c":"white","f":[":'","-","|"]},{"x":5,"y":0,"w":2,"h":2,"n":"b","c":"yellow","f":[":'","-","()"]},{"x":8,"y":0,"w":2,"h":2,"n":"c","c":"red","f":["}:","^","("]}]/qq/LeftOf(a,b)|LeftOf(b,c)|LeftOf(a,c)|The argument is logically valid|The argument is sound in this possible situation"""
  """/ex/TorF/from/Sad(a)|Neutral(b)/to/Laughing(c)/world/[{"x":5,"y":0,"w":2,"h":2,"n":"b","c":"pink","f":[":","-","|"]},{"x":8,"y":0,"w":2,"h":2,"n":"c","c":"purple","f":[";","^","D"]},{"x":2,"y":0,"w":2,"h":2,"n":"a","c":"blue","f":[":",">","("]}]/qq/Sad(a)|Neutral(b)|Laughing(c)|The argument is logically valid|The argument is sound in this possible situation"""
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_041/slide-082.jpeg'})
  .notes 
  //- handout
  .handout An argument is \emph{sound} just if it is logically valid and its premises are true
  .handout Whether a sentence is true may change as the world changes. 
  .handout The same applies to whether an argument is sound. 
  .handout Whether an argument is logically valid not does change as the world changes.

+slide({bkg:'unit_041/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_041/slide-091.jpeg'})
  .notes 

