---cson
layout: 'deck_units' 
title: "Formal Proof: ∧Elim and ∧Intro"
description: "Introduces and illustrates the use of rules of proof for conjunction."
tags: ['definitions']
depends: ['unit_211']
source: ['ph133 lecture 03']
sequence: 200
book: ['5.1','6.1']
exercises: ['6.1']
exercises_fast: ['5.3--5.6']

---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_21/slide-006.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/rule_conjunction_intro.png')
  .img.handout(data-src='img/rule_conjunction_elim.png')
  .img.handout(data-src='img/proof_unit_21.png')

+slide({bkg:'unit_21/slide-007.jpeg'})
  .notes See how we have P in a premise and P in the conclusion?

+slide({bkg:'unit_21/slide-008.jpeg'})
  .notes We have to get the P out of the conjunction and back into the conclusion.

+slide({bkg:'unit_21/slide-009.jpeg'})
  .notes How can we get P out of this premise?

+slide({bkg:'unit_21/slide-010.jpeg'})
  .notes First we have to ask, What's the connective?

+slide({bkg:'unit_21/slide-011.jpeg'})
  .notes The connective is conjunction.  This tells us we want to use a conjunction-rule.  But is it the introduction or elimination rule that we need?

+slide({bkg:'unit_21/slide-012.jpeg'})
  .notes It's elimination.  Nearly always we need elimination when we're acting on premises.

+slide({bkg:'unit_21/slide-013.jpeg'})
  .notes See how the rule matches our premise.

+slide({bkg:'unit_21/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_21/slide-015.jpeg'})
  .notes Now having used the rule we have to explain exactly what we've done.  This requires two things ...
  
+slide({bkg:'unit_21/slide-016.jpeg'})
  .notes We must cite the rule used.

+slide({bkg:'unit_21/slide-017.jpeg'})
  .notes And we must cite the lines we applied the rule to.

+slide({bkg:'unit_21/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_21/slide-019.jpeg'})
  .notes Getting the R out of the second premise can be done in exactly the same way.
  .notes Now, how are we going to get to the conclusion?
  .notes In general, we use introduction rules to get to the conclusion.  And since this conclusion is a conjunction, we'll use conjunction-intro to get to it.

+slide({bkg:'unit_21/slide-020.jpeg'})
  .notes Look at the rule for conjunction intro. 

+slide({bkg:'unit_21/slide-021.jpeg'})
  .notes See how our proof fits the pattern of the rule.

+slide({bkg:'unit_21/slide-022.jpeg'})
  .notes So it turns out we already did what we need for conjunction intro.  
  .notes All that's left is to explain what we've done.  As before this requres two things.

+slide({bkg:'unit_21/slide-023.jpeg'})
  .notes We must cite the rule used.

+slide({bkg:'unit_21/slide-024.jpeg'})
  .notes And we must cite the lines we applied the rule to.

+slide({bkg:'unit_21/slide-025.jpeg'})
  .notes Note the pattern of rules that we have for conjunction: introduction and elimination.
  .notes For each connective we'll have such a pair of rules, one introduction rule and one elimination rule.
  
+slide({bkg:'unit_21/slide-026.jpeg'})
  .notes With the elimination rule, we have the connective at the start and we eliminate it in applying the rule.

+slide({bkg:'unit_21/slide-027.jpeg'})
  .notes See how this worked in our proof.

+slide({bkg:'unit_21/slide-028.jpeg'})
  .notes With the introduction rule, we don't have the connective at the start and we introduce it by appling the rule. 

+slide({bkg:'unit_21/slide-029.jpeg'})
  .notes Here's how we did it in the proof.

