---cson
layout: 'deck_units' 
title: "∀Intro: An Incorrect Proof"
description: "Discussion of an incorrect proof which appears to apply ∀Intro to prove this invalid argument: (∀x Square(x)) → (∀x Blue(x)) therefore ∀x(Square(x) → Blue(x))."
tags: ['proof'] 
depends: ['570']
source: ['ph126 lecture 12']
duration: 4
book: ['13.1','13.2']
exercises: []
exercises_fast: []
sequence: 700
exNormal : [
  '/ex/proof/orInvalid/from/all x Square(x) arrow all x Blue(x)/to/all x( Square(x) arrow Blue(x))'
  '/ex/counter/orValid/from/all x Square(x) arrow all x Blue(x)/to/all x( Square(x) arrow Blue(x))'
  '/ex/proof/orInvalid/from/all x( Square(x) arrow Blue(x))/to/all x Square(x) arrow all x Blue(x)'
  '/ex/counter/orValid/from/all x( Square(x) arrow Blue(x))/to/all x Square(x) arrow all x Blue(x)'
    
]
exFast : [
  '/ex/proof/orInvalid/from/all x Square(x) arrow all x Blue(x)/to/all x( Square(x) arrow Blue(x))'
  '/ex/counter/orValid/from/all x Square(x) arrow all x Blue(x)/to/all x( Square(x) arrow Blue(x))'
  '/ex/proof/orInvalid/from/all x( Square(x) arrow Blue(x))/to/all x Square(x) arrow all x Blue(x)'
  '/ex/counter/orValid/from/all x( Square(x) arrow Blue(x))/to/all x Square(x) arrow all x Blue(x)'
  
  # for normal these are part of 755
  '/ex/proof/orInvalid/from/exists x exists y Loves(x,y)/to/exists y exists x Loves(x,y)'
  '/ex/counter/orValid/from/exists x exists y Loves(x,y)/to/exists y exists x Loves(x,y)'
  '/ex/proof/orInvalid/from/exists x all y Loves(x,y)/to/all y exists x Loves(x,y)'
  '/ex/counter/orValid/from/exists x all y Loves(x,y)/to/all y exists x Loves(x,y)'

  '/ex/proof/orInvalid/from/all y exists x Loves(x,y)/to/exists x all y Loves(x,y)'
  '/ex/counter/orValid/from/all y exists x Loves(x,y)/to/exists x all y Loves(x,y)'
        
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_572/slide-140.jpeg'})
  .notes 
  .handout This proof is wrong, but why?:
  .handout.img(data-src='img/unit_572_proof.png')
  .handout There is a counterexample to the argument:
  .handout.img(data-src='img/unit_572_proof2.png')

+slide({bkg:'unit_572/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_572/slide-142.jpeg'})
  .notes 

+slide({bkg:'unit_572/slide-143.jpeg'})
  .notes 

