---cson
layout: 'deck_units'
title: "Tautologies and Contradictions: More"
description: "Illustrates and defines the terms 'tautology' and 'contradiction' with some quotes from George Bush."
tags: ['truth-tables'] 
depends: ['unit_160']
source: ['ph126 fastlecture 01']
sequence: 290
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_162/slide-166.jpeg'})
  .notes 

+slide({bkg:'unit_162/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_162/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_162/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_162/slide-170.jpeg'})
  .notes 

