---cson
layout: 'deck_units'
title: "Why Logic? (Reprise)"
description: "Points out limits on what can be understood through logic.  Argues that dissatisfaction is good.  Mentions further logic and logic-related modules."
tags: [] 
depends: ['011']
source: ['ph126 lecture 11']
duration: 5
book: ['']
exercises: []
exercises_fast: []
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_380/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_380/slide-112.jpeg'})
  .notes 

