---cson
layout: 'deck_units' 
title: "Translating a Simple Argument"
description: "Illustrates how to translate an argument from English into our formal language FOL."
tags: ['translation']
depends: ['unit_211']
source: ['ph133 lecture 03']
duration: 4
sequence: 190
book: ['3.2']
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_213/slide-001.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-003.jpeg'})
  .notes This doesn’t seem to be true.

+slide({bkg:'unit_213/slide-004.jpeg'})
  .notes But this does seem to be true, or at least horribly plausible.


+slide({bkg:'unit_213/slide-005.jpeg'})
  .notes And this seems right too, maybe.  

+slide({bkg:'unit_213/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_213/slide-020.jpeg'})
  .notes 

