---cson
layout: 'deck_units'
title: "I Shot an Elephant in My Pyjamas"
description: "What is the source of ambiguity in natural languages?  Depicts two structures for Groucho Marx' utterance 'I shot an elephant in my pyjamas'."
tags: ['syntax']
depends: ['unit_151']
source: ['ph126 fastlecture 02']
duration: 6
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_171/slide-163.jpeg'})
  //- handout
  .handout Rule 1: a NP followed by a VP is a S 
  .handout Rule 2: a Vt followed by a NP is a VP 
  .handout Rule 3: a NP followed by a PP is a S 
  .handout Rule 4: A Vt followed by a NP then a PP is a VP 
  .handout Two derivations of Groucho Marx’ claim, ‘I shot an elephant in my pyjamas':
  .img.handout(data-src='img/groucho1.png')
  .img.handout(data-src='img/groucho2.png')
  .notes 



+slide({bkg:'unit_171/slide-164.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-165.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-166.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-171.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-172.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-173.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-174.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-175.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-176.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-177.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-178.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-179.jpeg'})
  .notes 

+slide({bkg:'unit_171/slide-180.jpeg'})
  .notes 

