---cson
layout: 'deck_units'
title: "Quantifier Equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ¬∃x(Square(x) ∧ ¬Broken(x))"
description: "Describes how we can use knowledge of equivalences among propositional sentences to get quantifier equivalences with an example.  The example is the inference from this: A → B ⫤⊨ ¬B → ¬A, to this: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Broken(x) → ¬Square(x))."
tags: ['translation','quantifiers']
depends: ['760','764']
source: ['ph126 lecture 15']
duration: 5
book: ['10.3']
exercises: []
exercises_fast: []
sequence: 1020
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_770/slide-041.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_770_equiv_chain.png')

+slide({bkg:'unit_770/slide-042.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-069.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-071.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-072.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-074.jpeg'})
  .notes 

+slide({bkg:'unit_770/slide-075.jpeg'})
  .notes 

