---cson
layout: 'deck_units'
title: "How Big Is a Truth-Table?"
description: "Explains how to determine how many rows a truth table for a sentence containing 2, 3 or 369 sentence letters would be."
tags: ['meta','truth-tables']
depends: ['435','250']
source: ['ph126 lecture 14']
duration: 5
book: []
exercises: []
exercises_fast: []
sequence: 950
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_431/slide-054.jpeg'})
  .notes 
  .handout How many truth-functions can be constructed using 2 sentence letters?
  .handout.img(data-src='img/unit_430_fig1.pdf')

+slide({bkg:'unit_431/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-069.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-071.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-072.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-074.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-075.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-076.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_431/slide-086.jpeg'})
  .notes 

