---cson
layout: 'deck_units'
title: "Ambiguity: Recap"
description: "What is the source of ambiguity in natural languages?  Depicts two structures for Groucho Marx' utterance 'I shot an elephant in my pyjamas'."
tags: ['syntax']
depends: ['unit_151']
source: ['ph126 fastlecture 02']
duration: 6
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_170/slide-156.jpeg'})
  .notes 

+slide({bkg:'unit_170/slide-157.jpeg'})
  .notes 

+slide({bkg:'unit_170/slide-158.jpeg'})
  .notes 

+slide({bkg:'unit_170/slide-159.jpeg'})
  .notes 

+slide({bkg:'unit_170/slide-160.jpeg'})
  .notes 

+slide({bkg:'unit_170/slide-161.jpeg'})
  .notes 

+slide({bkg:'unit_170/slide-162.jpeg'})
  .notes 
