---cson
layout: 'deck_units' 
title: 'Logic-Ex: Creating Possible Situations'
tags: ['logic-ex']
description: "Describes how to create possible situations in logic-ex."
depends: []
handout: false
source: ['ph126 lecture 01']
duration: 10
book: []
---

include ../../../fragments/unit_mixins


    
+slide_middle
  p.center 
    a(href="https://logic-ex.butterfill.com/ex/create/qq/Red(a)") https://logic-ex.butterfill.com/ex/create/qq/Red(a)
    
+slide({bkg:'unit_026/151023-0016.png'})
  .notes: :t
    Here is the exercise.  We have to make the sentence `Red(a)` true.
+slide({bkg:'unit_026/151023-0016b.png'})
  .notes: :t
    How do we get a red person?  We can’t change the colour of people,
    so we just add an element until we find a red one.
+slide({bkg:'unit_026/151023-0017.png'})
  .notes: :t
    The first one we add is yellow, which is no good.
+slide({bkg:'unit_026/151023-0017b.png'})
  .notes: :t
    You can move people around by dragging their heads.
+slide({bkg:'unit_026/151023-0018.png'})
  .notes: :t
    So I’ve made space.
+slide({bkg:'unit_026/151023-0018b.png'})
  .notes: :t
    Now I’m going to add another element; hope it’s red.
+slide({bkg:'unit_026/151023-0019.png'})
  .notes: :t
    Good, it is.
    But I’m not done yet.
+slide({bkg:'unit_026/151023-0019b.png'})
  .notes: :t
    It’s telling me that the sentence isn’t true or false,
    that it can’t be evaluated in this possible situation.
    What can I do?
+slide({bkg:'unit_026/151023-0019c.png'})
  .notes: :t
    I need to give the red element a name by typing here.
    (I’m going to call it ‘a’).
+slide({bkg:'unit_026/151023-0020.png'})
  .notes: :t
    So now it has a name.
+slide({bkg:'unit_026/151023-0020b.png'})
  .notes: :t
    And I’m done with the exercise.
    But let me just show you a couple of things that 
    might be useful with some of the exercises.
+slide({bkg:'unit_026/151023-0020c.png'})
  .notes: :t
    I can delete people that I don’t need like this one.
+slide({bkg:'unit_026/151023-0021.png'})
  .notes: :t
    That was fun.
+slide({bkg:'unit_026/151023-0021b.png'})
  .notes: :t
    Let’s erase another person.
+slide({bkg:'unit_026/151023-0022.png'})
  .notes: :t
    Lastly, I have to say I don’t really like this person’s face.
+slide({bkg:'unit_026/151023-0022b.png'})
  .notes: :t
    But I can change it by clicking on the eyes, nose and mouth.
    This is how I make someone happy or sad.
+slide({bkg:'unit_026/151023-0023.png'})
  .notes: :t
    Now the red person is happy.