---cson
layout: 'deck_units' 
images: 'unit_161'
title: "Logic Makes Me Die Inside"
description: "Is the definition of logical validity flawed?"
tags: ['definition'] 
depends: ['unit_03']
source: ['ph126 lecture 03']
duration: 3
sequence: 240
book:['2.1']
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_161/slide-049.jpeg'})
  .notes Do they use it?  I’m not on it.  I already have a friend, so I recon I’ve got that one covered already.

+slide({bkg:'unit_161/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_161/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_161/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_161/slide-053.jpeg'})
  .notes 

