---cson
layout: 'deck_units'
title: "Recap: Structural Ambiguity in Natural Languages"
description: "Reminder about the sources of structural ambiguity in natural language."
tags: ['syntax']
depends: ['unit_230']
source: ['ph126 fastlecture 03']
duration: 1
sequence: 390
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_231/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_231/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_231/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_231/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_231/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_231/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_231/slide-010.jpeg'})
  .notes 

