---cson
layout: 'deck_units' 
title: "Multiple Quantifiers: Everyone Likes Puffins"
description: "Introduces translation from English to awFOL using multiple universal quantifiers with an example."
tags: ['quantification','semantics','translation']
depends: ['']
source: ['ph126 lecture 10']
duration: 5
book: ['11.1']
exercises: ['11.2']
exercises_fast: []
sequence: 660
exNormal: [
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":",">","|"]},{"x":1,"y":0,"w":2,"h":2,"n":"","c":"red","f":[";","^",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"pink","f":[":","^",")"]}]/qq/all x all y (LeftOf(x,y) arrow Happy(x))|all x all y ((Happy(x) and not Happy(y)) arrow LeftOf(x,y))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":",">",")"]},{"x":1,"y":0,"w":2,"h":2,"n":"","c":"green","f":[";","^",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"pink","f":[":","^",")"]}]/qq/all x all y (LeftOf(x,y) arrow Happy(x))|all x all y ((Happy(x) and not Happy(y)) arrow LeftOf(x,y))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":",">","|"]},{"x":1,"y":0,"w":2,"h":2,"n":"","c":"red","f":[";","^",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"purple","f":[":","^","|"]}]/qq/all x all y (LeftOf(x,y) arrow Happy(x))|all x all y ((Happy(x) and not Happy(y)) arrow LeftOf(x,y))"""

  '/ex/trans/domain/Ayesha|Beatrice/names/a=Ayesha/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all x (Puffin(x) arrow Likes(a,x))'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all y all x (Puffin(x) arrow Likes(y,x))'
  
  '/ex/trans/domain/Ayesha|Beatrice/names/a=Ayesha/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all x (Likes(a,x) arrow Puffin(x))'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all y all x (Likes(y,x) arrow Puffin(x))'  
]
exFast: [
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":",">","|"]},{"x":1,"y":0,"w":2,"h":2,"n":"","c":"red","f":[";","^",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"pink","f":[":","^",")"]}]/qq/all x all y (LeftOf(x,y) arrow Happy(x))|all x all y ((Happy(x) and not Happy(y)) arrow LeftOf(x,y))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":",">",")"]},{"x":1,"y":0,"w":2,"h":2,"n":"","c":"green","f":[";","^",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"pink","f":[":","^",")"]}]/qq/all x all y (LeftOf(x,y) arrow Happy(x))|all x all y ((Happy(x) and not Happy(y)) arrow LeftOf(x,y))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":",">","|"]},{"x":1,"y":0,"w":2,"h":2,"n":"","c":"red","f":[";","^",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"purple","f":[":","^","|"]}]/qq/all x all y (LeftOf(x,y) arrow Happy(x))|all x all y ((Happy(x) and not Happy(y)) arrow LeftOf(x,y))"""

  '/ex/trans/domain/Ayesha|Beatrice/names/a=Ayesha/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all x (Puffin(x) arrow Likes(a,x))'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all y all x (Puffin(x) arrow Likes(y,x))'
  
  '/ex/trans/domain/Ayesha|Beatrice/names/a=Ayesha/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all x (Likes(a,x) arrow Puffin(x))'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Puffin1-x-is-a-puffin|Likes2-x-likes-y/sentence/all y all x (Likes(y,x) arrow Puffin(x))'  
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_742/slide-015.jpeg'})
  .notes 
  .handout I like puffins:
  .handout \hspace{3mm}  ∀x ( Puffin(x) → Likes(a,x) )
  .handout y likes puffins:
  .handout \hspace{3mm} ∀x ( Puffin(x) → Likes(y,x) )
  .handout Everyone likes puffins:
  .handout \hspace{3mm} ∀y ∀x ( Puffin(x) → Likes(y,x) )

+slide({bkg:'unit_742/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-032.jpeg'})
  .notes 

