---cson
layout: 'deck_units'
title: "The End Is Near"
description: "Extremely brief introduction to definite descriptions.  Hints at how sentences such as 'The winner is hungry' might be translated into Logiya."
tags: ['quantification','translation']
depends: ['470']
source: ['ph126 lecture 15']
duration: 10
book: ['14.3']
exercises: []
exercises_fast: ['14.26, 14.28']
sequence: 1040
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_790/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-139.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-140.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-142.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-143.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-144.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-145.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-146.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-147.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-148.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-149.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-150.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-151.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-152.jpeg'})
  .notes 

