---cson
layout: 'deck_units'
title: "More Records Than the KGB"
description: "Identifies a problem translating some sentences involving comparisons into our formal language, FOL."
tags: ['quantification','translation']
depends: ['470']
source: ['ph126 lecture 15']
duration: 10
book: ['14.1','14.3']
exercises: []
exercises_fast: []
sequence: 1040
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_780/slide-119.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-124.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-125.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-126.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-127.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-128.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_780/slide-132.jpeg'})
  .notes 

