---cson
layout: 'deck_units' 
title: 'Translation with Quantifiers'
tags: ['translation']
description: "Discusses how to translate 'Some persuasive arguments are not valid' and 'All Lib. Dem. discordians weep and wail except Gillian Deleude' into first-order logic."
depends: ['unit_503']
book: ['9.5','9.6']
sequence: 600
exercises_fast:['9.12-–9.13']
exercises: ['9.4–-9.5', '9.8–-9.9']
exNormal: [
 # 9.4–-9.5, 9.8–-9.9
 
]
exFast: [
  #  9.16.10--9.16.15, 9.17.7--9.17.15
  '/ex/create/qq/exists x Tall(x) and Broken(x) and Crying(x)'
  
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Red1|Sad1/sentence/exists x (Sad(x) and Red(x))'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Red1|Sad1|Broken1/sentence/A red, sad thing is broken'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Red1|Sad1|Broken1|Crying1/sentence/A red, sad thing is broken and crying'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Red1|Sad1|Broken1/sentence/A red, sad thing is not broken'
  
  '/ex/create/qq/exists x Tall(x) and Broken(x) and not Crying(x)'
  '/ex/create/qq/not (exists x Tall(x) and Broken(x) and Crying(x))'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Red1|Sad1|Broken1/sentence/No red, sad thing is broken'
  
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Red1|Sad1|Broken1/sentence/All red things are broken'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Tall1|Sad1|Broken1/sentence/All tall sad things are broken'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Tall1|Sad1|Broken1|Crying1/sentence/All tall things are broken and crying'
  '/ex/trans/domain/Ayesha|Beatrice/names/-/predicates/Tall1|Sad1|Broken1|Crying1/sentence/All tall sad things are broken or crying'
  
  # 9.12-–9.13
]
---

include ../../../fragments/slide_mixins

//- *todo doesn't the last one imply that Gillian Deleude does not weep and wail, and that she is a French discordian?
//-   if so, the translation is inadequate


.slide#unit_507
  .handout \begin{minipage}{\columnwidth}
  .handout All discordians weep:
  .handout ∀x( Dscrdn(x) → Wps(x) )
  .handout \end{minipage}
  
  .handout \begin{minipage}{\columnwidth}
  .handout All \textbf{Lib. Dem.} discordians weep:
  .handout ∀x( ( \textbf{LibDem(x) ∧} Dscrdn(x) ) → Wps(x) )
  .handout \end{minipage}

  .handout \begin{minipage}{\columnwidth}
  .handout All Lib. Dem. discordians weep \textbf{and wail}:
  .handout ∀x( ( LibDem(x) ∧ Dscrdn(x) ) → ( Wps(x) \textbf{ ∧ Wls(x)} ) )
  .handout \end{minipage}

  .handout \begin{minipage}{\columnwidth}
  .handout All Lib. Dem. discordians weep and wail \textbf{except Gillian Deleude}:
  .handout ∀x( ( LibDem(x) ∧ Dscrdn(x) \textbf{∧ ¬(x=a)} ) → ( Wps(x) ∧ Wls(x) ) )
  .handout \end{minipage}
  
  .container_12
    .grid_12
      .words
        .existential_translation
          p Some 
            span.step5.hide
              span.bkg-words-highlight-yellow persuasive 
              span and 
            span.step3.hide.bkg-words-highlight-red useful 
            span arguments are not valid.
          p.step2.hide ∃x(
            span.step6.hide
              span.bkg-words-highlight-yellow Persuasive(x) 
              span ∧ 
            span.step4.hide
              span.bkg-words-highlight-red Useful(x) 
              span ∧  
            span Argument(x) ∧ ¬Valid(x))
          mixin steps(6)
        .slide.anim-addclass(data-what=".existential_translation",data-class="dim")
        .slide.nodim
          p.em-above All 
            span.universal-who discordians 
            span.universal-what weep.
          p.slide.nodim ∀x( 
            span.universal-who Dscrdn(x) 
            span → 
            span.universal-what Wps(x) 
            span )
          .slide.anim-addclass(data-what=".universal-who",data-class="bkg-words-highlight-blue")
          .slide.anim-addclass(data-what=".universal-what",data-class="bkg-words-highlight-pink")
        .slide
          p.em-above All 
            span.bkg-words-highlight-yellow Lib.Dem. 
            span discordians weep. 
          p.slide ∀x( (
            span.bkg-words-highlight-yellow LibDem(x)
            span ∧ Dscrdn(x) ) →  Wps(x) )
        .slide
          p.em-above All Lib.Dem. discordians weep 
            span.bkg-words-highlight-yellow and wail.
          p.slide ∀x( ( LibDem(x) ∧ Dscrdn(x) ) → 
            span.bkg-words-highlight-yellow ( 
            span Wps(x) 
            span.bkg-words-highlight-yellow ∧ Wls(x) ) 
            span )
        .slide
          p.em-above All Lib.Dem. discordians weep and wail 
            span.bkg-words-highlight-yellow except Gillian Deleude.
          p.slide ∀x( ( LibDem(x) ∧ Dscrdn(x) 
            span.bkg-words-highlight-yellow ∧ ¬(x=a) 
            span ) →  ( Wps(x) ∧ Wls(x) ) )
            
      