---cson
layout: 'deck_units'
title: "Scope: A Mistaken Application of ¬Elim"
description: "Describes a mistaken application of the rule ¬Elim.  Asks why this application is mistaken."
tags: ['definition','syntax']
depends: ['unit_280']
source: ['ph126 lecture 06']
duration: 3
sequence: 510
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_291/slide-094.jpeg'})
  .notes 
  //- handout
  .handout What is wrong with this proof?
  .img.handout(data-src='img/proof_negation_elim_wrong.png')

+slide({bkg:'unit_291/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_291/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_291/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_291/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_291/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_291/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_291/slide-101.jpeg'})
  .notes 

