---cson
layout: 'deck_units'
title: "Proof Example: S∨(Q∧R) therefore S∨Q."
description: "Describes how to prove S∨(Q∧R) therefore S∨Q."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 lecture 09']
duration: 5
sequence: 840
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_824/slide-156.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_824_proof.png')

+slide({bkg:'unit_824/slide-157.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-158.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-159.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-160.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-161.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-162.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-163.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-164.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-165.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-166.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-171.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-172.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-173.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-174.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-175.jpeg'})
  .notes 

+slide({bkg:'unit_824/slide-176.jpeg'})
  .notes 

