---cson
layout: 'deck_units'
images: 'unit_013'
title: "Learning Objectives"
description: "Graphical depiction of learning objectives for this course."
tags: []
depends: []
source: ['ppe lecture 01']
sequence: 60
---

include ../../../fragments/unit_mixins

//- the slides
+slides_from_img_folder(document.basename)

//- handout
