---cson
layout: 'deck_units' 
title: "∨Elim: Recap"
description: "Repeats an earlier illustration of the use of ∨Elim, a rule of proof.  Uses the inference from A∨B to B∨A."
tags: ['proof']
depends: ['unit_220']
source: ['ph126 lecture 06']
duration: 10
sequence: 430
handout: false
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_223/slide-160.jpeg'})
  .notes 

+slide({bkg:'unit_223/slide-161.jpeg'})
  .notes 

+slide({bkg:'unit_223/slide-162.jpeg'})
  .notes 

+slide({bkg:'unit_223/slide-163.jpeg'})
  .notes 

+slide({bkg:'unit_223/slide-164.jpeg'})
  .notes 

+slide({bkg:'unit_223/slide-165.jpeg'})
  .notes 

+slide({bkg:'unit_223/slide-166.jpeg'})
  .notes 

