---cson
layout: 'deck_units'
title: "→Intro: An Example"
description: "Discusses (but does not complete) a relatively hard proof involving the rule →Intro.  The proof is from premise A∨B to conclusion ¬B→A."
tags: ['proof','proof-example']
depends: ['unit_221']
source: ['ph126 lecture 05']
duration: 4
sequence: 340
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_391/slide-072.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/proof_arrow_intro.png')

+slide({bkg:'unit_391/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-074.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-075.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-076.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_391/slide-085.jpeg'})
  .notes 

