---cson
layout: 'deck_units'
title: "A ∧ B ∨ C: the Truth-tables (quick version)"
description: "Whiz through truth tables for (A ∧ B) ∨ C and A ∧ (B ∨ C)."
tags: ['truth-tables']
depends: ['unit_151']
source: ['ph126 fastlecture 02']
duration: 2
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_152/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-124.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-125.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-126.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-127.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-128.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-132.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_152/slide-134.jpeg'})
  .notes 

