---cson
layout: 'deck_units' 
title: "Scope and Negation"
description: "Explores differences between the negation of a disjunction and a disjunction of negations.  That is, between ¬(A∨B) and (¬A∨¬B)"
tags: ['semantics'] 
depends: ['unit_290']
source: ['ph126 lecture 08', 'unit_320.pptx']
duration: 10
book: ['3.5','3.6']
exercises: []
exercises_fast: []
sequence: 530
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_320/slide-000.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_320_fig1.png')
  .handout.img(data-src='img/unit_320_fig2.png')

+slide({bkg:'unit_320/slide-001.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_320/slide-033.jpeg'})
  .notes 

