---cson
layout: 'deck_unit'
images: 'unit_041'
title: "Soundness"
description: "Explanation of the notions of a sound argument."
tags: ['definitions']
depends: ['unit_03']
source: ['ph126 lecture 01']
sequence: 80
---


include ../../../fragments/unit_mixins

//- the slides
+slides_from_img_folder(document.basename)
.handout An argument is \emph{sound} just if it is logically valid and its premises are true
.handout Whether a sentence is true may change as the world changes. 
.handout The same applies to whether an argument is sound. 
.handout Whether an argument is logically valid not does change as the world changes.
