---cson
layout: 'deck_units' 
title: "Quantifer Rules: ∃Elim with zoxiy"
description: "Explains how to do proofs involving quantifier rules with zoxiy.  (Where you need to put the name ‘a’ in a box, write ‘[a]’.)"
tags: ['proof','zoxiy','ex-proof'] 
depends: ['']
duration: 6

---


include ../../../fragments/unit_mixins

+slide
  .notes: :t
    The rules of proof exists elim and universal intro each 
    require you to put a name in a box in the premise of a subproof.
    How can you do this with zoxiy?
  .notes: :t
    Where you see a name in a box, just enclose it in square brackets.
    For example: [a]
  img(src='/img/unit_554/exists_elim.gif')