---cson
layout: 'deck_units'
title: "Every Time I Go to the Dentist Someone Dies"
description: "Discusses translating English sentences involving obscured quantifiers into FOL with an example."
tags: ['quantifiers','translation']
depends: ['560']
source: ['ph126 lecture 14']
duration: 5
book: ['11.2']
exercises: []
exercises_fast: []
sequence: 850
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_750/slide-001.jpeg'})
  .notes 
  .handout ∀t ( 
  .handout \hspace{5mm} ( Time(t) ∧ ToDentist(a,t) ) 
  .handout \hspace{5mm}   → 
  .handout \hspace{5mm} ∃x ( Person(x) ∧ TimeOfDeath(x,t) ) 
  .handout )

+slide({bkg:'unit_750/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-026.jpeg'})
  .notes 

