---cson
layout: 'deck_units' 
title: "Scope"
description: "Defines the notion of scope using trees; explains its application in constructing proofs and truth-tables."
tags: ['definition','syntax']
depends: ['unit_230']
source: ['ph126 lecture 06']
duration: 12
book: ['3.5']
exercises: ['3.14','3.15']
exercises_fast: []
sequence: 520
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_290/slide-220.jpeg'})
  .notes 
  //- handout
  .handout The \emph{scope} of a connective (token) is the sentence containing it lowest in the tree.
  .img.handout(data-src='img/unit_290_scope_q.png')
  .handout The connective with \emph{widest scope} is the one whose scope is the whole sentence.
  .img.handout(data-src='img/unit_290_scope_q2.png')
  .handout A rule of proof can only be applied to the connective with widest scope.
  .img.handout(data-src='img/unit_290_scope_proof.png')
  .handout When we do truth tables, the order we do the columns in is determined by scope.
  .img.handout(data-src='img/unit_290_scope_tt.png')
  

+slide({bkg:'unit_290/slide-221.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-222.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-223.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-224.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-225.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-226.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-227.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-228.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-229.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-230.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-231.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-232.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-233.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-234.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-235.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-236.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-237.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-238.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-239.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-240.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-241.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-242.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-243.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-244.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-245.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-246.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-247.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-248.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-249.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-250.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-251.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-252.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-253.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-254.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-255.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-256.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-257.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-258.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-259.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-260.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-261.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-262.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-263.jpeg'})
  .notes 

+slide({bkg:'unit_290/slide-264.jpeg'})
  .notes 

