---cson
layout: 'deck_units' 
title: 'Logic-Ex'
tags: ['logic-ex']
description: "There are logic exercises associated with each lecture.  This is how to complete them ..."
depends: []
source: ['ph126 lecture 01']
duration: 10
book: []
---

include ../../../fragments/unit_mixins


    
+slide_middle
  p.center http://logic-1.butterfill.com
  //- handout
  .handout: :t
    There are logic exercises associated with each lecture.
    After each lecture (or before, if you prefer), you should
    complete the associated exercises.
  .handout: :t
    You can find links to the exercises for each lecture at:
    \url{http://logic-1.butterfill.com}
  .handout: :t
    To complete the exercises you need to register at
    \url{http://logic-ex.butterfill.com}
    (If you don’t want to do this, you can complete the 
    alternative textbook exercises on paper.
    These are also specified for each lecture at \url{http://logic-1.butterfill.com}).
  .handout: :t
    Seminars will discuss exercises associated with
    the previous week’s lectures.  As your seminar tutor will
    track your progress and mark your exercises, you should
    be sure to \textbf{complete the exercises by 2pm on the day before
    your seminar}.
    
+slide({bkg:'unit_016/151023-0001.png'})
  .notes: :t
    Here is the web page describing the logic lectures at
    http://logic-1.butterfill.com
+slide({bkg:'unit_016/151023-0001b.png'})
  .notes: :t
    This is for the regular (twice-weekly) lectures
+slide({bkg:'unit_016/151023-0001c.png'})
  .notes: :t
    You might need to switch to the fast set of lectures,
    for which there are different exercises.
    (Choose the right page for the lectures you are attending.)
+slide({bkg:'unit_016/151023-0001d.png'})
  .notes: :t
    For each set of lectures, you can choose between ‘regular
    exercises’ and ‘fast exercises’.
    The ‘normal’ exercises are aimed at students who did not take a 
    mathematical subject at A-Level or equivalent.  The ‘fast’
    exercises are for students who find logic relatively easy and
    want to focus on more difficult questions.
    You can switch between fast and normal exercises at any time.
+slide({bkg:'unit_016/151023-0002.png'})
  .notes: :t
    When you hit the link for ‘regular exercises’, you’re told to sign in.
    But you can’t because you don’t yet have a password.
+slide({bkg:'unit_016/151023-0002b.png'})
  .notes: :t
    You need to register the first time you use logic-ex.
+slide({bkg:'unit_016/151023-0015.png'})
  .notes: :t
    This is the registration form.
    Note that this isn’t a secure web page (no ssl).
+slide({bkg:'unit_016/151023-0015b.png'})
  .notes: :t
    The email you use should be your university email.
    Otherwise your tutor won’t know who you are and won’t
    grade your work.
+slide({bkg:'unit_016/151023-0001d.png'})
  .notes: :t
    After you sign up, you might be taken to the wrong page.
    So go back to http://logic-1.butterfill.com and hit the 
    exercises link again.
+slide({bkg:'unit_016/151023-0003.png'})
  .notes: :t
    Now we’ve made it into `logic-ex`.
    Here’s my motivational progress donut.
    It’s very motivating.
+slide({bkg:'unit_016/151023-0003b.png'})
  .notes: :t
    Selecting ‘follow’ will make it easier to find the 
    exercises later, so I’ll do that.    
+slide({bkg:'unit_016/151023-0003c.png'})
  .notes: :t
    Scroll down to see the exercises.
+slide({bkg:'unit_016/151023-0004.png'})
  .notes: :t
    Here are the exercises.
    Each of the links is an exercise.
+slide({bkg:'unit_016/151023-0004b.png'})
  .notes: :t
    Click on the first exercise link
    to get started.
+slide({bkg:'unit_016/151023-0005.png'})
  .notes: :t
    Oh look, it’s asking me to define logically valid argument.
    This is the first exercise, so it must be important.
+slide({bkg:'unit_016/151023-0006.png'})
  .notes: :t
    Complete the exercise.
+slide({bkg:'unit_016/151023-0006b.png'})
  .notes: :t
    Submit the exercise by pressing the button.
+slide({bkg:'unit_016/151023-0007.png'})
  .notes: :t
    After you submit, it should tell you you answered the question.
    This can take a while to come up.
    Sometimes it will tell you whether you were right or wrong, but
    this time it doesn’t.
+slide({bkg:'unit_016/151023-0007b.png'})
  .notes: :t
    You can go direct to the next exercise.
+slide({bkg:'unit_016/151023-0008.png'})
  .notes: :t
    I’m not going to do this one now, I’ll save it for later. 
+slide({bkg:'unit_016/151023-0008b.png'})
  .notes: :t
    Instead I want to go back to the list of exercises.
+slide({bkg:'unit_016/151023-0009.png'})
  .notes: :t
    My progress has been updated
+slide({bkg:'unit_016/151023-0014.png'})
  .notes: :t
    If I scroll down, I can also see that it recorded that I submitted
    the exercise here.  (So I can easily see where to start from next time.)
+slide({bkg:'unit_016/151023-0009.png'})
  .notes: :t
    But go back up, I want to show you something else.
+slide({bkg:'unit_016/151023-0009b.png'})
  .notes: :t
    Click on ‘logic-ex’ (top left) to get to the home page.
+slide({bkg:'unit_016/151023-0010.png'})
  .notes: :t
    Here’s what I see when I go to \url{http://logic-ex.butterfill.com}.
+slide({bkg:'unit_016/151023-0010b.png'})
  .notes: :t
    There’s a link that will take me straight to the exercises I’m
    currently working on (the normal exercises for the normal lectures).
+slide({bkg:'unit_016/151023-0010c.png'})
  .notes: :t
    Also, I need to tell `logic-ex` who my tutor is so that she can mark
    my work and check my progress.
+slide({bkg:'unit_016/151023-0010d.png'})
  .notes: :t
    Let’s see how the page changes once I’ve done that...
+slide({bkg:'unit_016/151023-0011.png'})
  .notes: :t
    I added my tutor a while ago, and in the meantime she’s graded my answer.
+slide({bkg:'unit_016/151023-0011b.png'})
  .notes: :t
    I can tell she’s graded my answer because there’s a message.
    (This message only appears when there are new grades, grades I haven’t seen yet.)
+slide({bkg:'unit_016/151023-0011c.png'})
  .notes: :t
    Follow the link to see the feedback.
+slide({bkg:'unit_016/151023-0012.png'})
  .notes: :t
    The exercise I just submitted has already been marked.
    (Usually your work will be marked an hour or two before your seminar.)
+slide({bkg:'unit_016/151023-0012b.png'})
  .notes: :t
    Let’s see whether I got it right ...
+slide({bkg:'unit_016/151023-0013.png'})
  .notes: :t
    Here’s my answer again.
+slide({bkg:'unit_016/151023-0013b.png'})
  .notes: :t
    And look, it’s been marked correct
    
