---cson
layout: 'deck_units'
title: "Formal Proof"
description: "Explains that Fitch is a formal (non-sematic) system of proof by highlighting an incorrect use of =Elim."
tags: ['proof']
depends: ['unit_11']
source: ['ph126 lecture 03']
duration: 3
sequence: 270
handout: false
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_111/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_111/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_111/slide-178.jpeg'})
  .notes 

+slide({bkg:'unit_111/slide-179.jpeg'})
  .notes 

+slide({bkg:'unit_111/slide-180.jpeg'})
  .notes 

+slide({bkg:'unit_111/slide-181.jpeg'})
  .notes This is Abdurrahman Wahid, popularly known Gus Dur, a former president of Indoneisa and one of the most jovial national leaders ever.  Asked to step up he said ...
  .notes There are two ways to mark your work.  Gus Dur is a really nice guy – he was president of Indonesia, an intellectual and cultural force for good.  He also had a keen sense of humour.  As president he was infirm and nearly blind.  When asked to resign he replied “I need help to step up, let alone step down.” (Economist 2010-01-07 obituary).  Unfortunately he died recently (december 30 2009) … 

+slide({bkg:'unit_111/slide-182.jpeg'})
  .notes And this is Than Schwe, Myanamar’s military ruler.

+slide({bkg:'unit_111/slide-183.jpeg'})
  .notes Guess who marks your exam.


