---cson
layout: 'deck_units' 
title: "Formal Counterexamples with zoxiy"
description: ""
tags: ['counterexamples','zoxiy', 'ex-counter']
---



include ../../../fragments/unit_mixins

+slide_middle
  .notes: :t
    Here is a video with sound which explains how to construct
    a possible situation both informally (by drawing it) and formally.
  p.center
    video(src='/img/unit_585/counter_ex_10.mp4', controls=true)

+slide_middle
  .notes: :t
    This video (with sound) explains how to construct
    a possible situation in which an identity statement is false,
    first informally and then formally.
  p.center
    video(src='/img/unit_585/counter_ex_15.mp4', controls=true)

+slide_middle
  .notes: :t
    Here you can see how to use zoxiy to create a possible situation in
    which a sentence involving quantifiers and predicates is true.
  p.center
    video(src='/img/unit_585/counter_ex_20.mp4', controls=true)

+slide_middle
  .notes: :t
    The trickiest task with possible situations is to construct a
    counterexample to an argument, as in this example.
  p.center
    video(src='/img/unit_585/counter_ex_25.mp4', controls=true)