---cson
layout: 'deck_units'
images: 'unit_222'
title: "∨Intro and ∨Elim"
description: "States the rules of proof for ∨, ∨Intro and ∨Elim."
tags: ['proof']
depends: []
source: ['ph126 fastlecture 03']
duration: 2
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_222/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_222/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_222/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_222/slide-055.jpeg'})
  .notes 

