---cson
layout: 'deck_units' 
images: 'unit_225'
title: "∨Intro"
description: "Introduces the rule of proof ∨Intro with some examples."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 05']
duration: 5
sequence: 340
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_225/slide-099.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/rule_disjunction_intro.png')

+slide({bkg:'unit_225/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_225/slide-110.jpeg'})
  .notes 

