---cson
layout: 'deck_units' 
images: 'unit_250'
title: "Substitution of Equivalents"
description: "Statement of the substitution theorem.  Suppose that φ, ψ and χ are sentences of FOL.  Suppose that φ is logically equivalent to ψ.  Let χ[φ/ψ] be the result of replacing, in χ, zero or more occurrences of φ with ψ. Then the subsitution theorem says that χ[φ/ψ] is logically equivalent to χ."
tags: ['meta']
depends: ['']
source: ['ph126 fastlecture 04']
duration: 5
book: ['4.5','10.3']
exercises: ['7.25']
exercises_fast: ['4.31, 7.25']
---


include ../../../fragments/unit_mixins


// prefix with reminder about demorgan
+slide_middle
  .handout Suppose that φ, ψ and χ are sentences of FOL.  Suppose that φ is logically equivalent to ψ.  Let χ[φ/ψ] be the result of replacing, in χ, zero or more occurrences of φ with ψ. The \emph{subsitution theorem} says that χ[φ/ψ] is logically equivalent to χ.
  p A ∧ B ⫤⊨ ¬(¬A ∨ ¬B)
  .slide
    p.example A ∨ B ⫤⊨ ¬(¬A ∧ ¬B)
    p A → B ⫤⊨ ¬A ∨ B
  +highlight('.example', 'yellow')
  .slide
    p 
      span ¬
      span.step2.hide ¬(¬A ∧ ¬B)
      span.step3.hide  ⫤⊨ 
      span.step4.hide ¬(
      span.step5.hide A ∨ B
      span.step4.hide )
      +show('.step2')
      +highlight('.step2','yellow')
      +show('.step3')
      +show('.step4')
      +show('.step5')
      +highlight('.step5','yellow')


+slide({bkg:'unit_250/slide-161.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-162.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-163.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-164.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-165.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-166.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-171.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-172.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-173.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-174.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-175.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-176.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-177.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-178.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-179.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-180.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-181.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-182.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-183.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-184.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-185.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-186.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-187.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-188.jpeg'})
  .notes 

+slide({bkg:'unit_250/slide-189.jpeg'})
  .notes 

