---cson
layout: 'deck_units'
title: "The Essence of the Completeness Theorem"
description: "Outlines how the completeness theorem for the propositional part of our formal proof system, Fitch, will work."
tags: ['meta']
depends: ['400']
source: ['ph126 lecture 13']
duration: 7
book: ['8.3']
exercises: []
exercises_fast: []
sequence: 970
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_450/slide-166.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_450.png')

+slide({bkg:'unit_450/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-171.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-172.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-173.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-174.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-175.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-176.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-177.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-178.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-179.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-180.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-181.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-182.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-183.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-184.jpeg'})
  .notes 

+slide({bkg:'unit_450/slide-185.jpeg'})
  .notes 

