---cson
layout: 'deck_units'
title: "Rules of Proof for Identity"
description: "Introduces and illustrates the rules of proof for identity, =Intro and =Elim."
tags: ['proof']
depends: ['unit_211']
source: ['ph133 lecture 03']
sequence: 210
book: ['2.2']
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_110/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-069.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-071.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-072.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-074.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-075.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-076.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-077.jpeg'})
  .notes 

