---cson
layout: 'deck_units' 
title: "Revison: Definitions"
description: "Discusses the first part of many exam questions."
tags: ['definitions']
depends: []
source: ['ppe revision lecture 02']
duration: 10
book: []
exercises: []
exercises_fast: []
sequence: 990
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_972/slide-001.jpeg'})
  .notes 
  //- handout 
  .handout \emph{Exercise} State the rules of proof for the following two connectives:  ∧  →
  .handout What is a logically valid argument?
  .handout What is ... logical consequence, a tautology, a contradiction, a counterexample, a subproof, ...
  .handout What is a proof?

  
  

+slide({bkg:'unit_972/slide-002.jpeg'})
+slide({bkg:'unit_972/slide-003.jpeg'})
+slide({bkg:'unit_972/slide-004.jpeg'})
+slide({bkg:'unit_972/slide-005.jpeg'})
+slide({bkg:'unit_972/slide-006.jpeg'})
+slide({bkg:'unit_972/slide-007.jpeg'})
+slide({bkg:'unit_972/slide-008.jpeg'})
