---cson
layout: 'deck_units' 
title: "Terminology"
description: "Steps through the definition of a logically valid argument.  Quickly runs through the terms sentence, name and predicate."
tags: ['definitions']
depends: []
source: ['ph126 fastlecture 01']
exFast: [
  '/ex/q/define ‘logically valid argument’'
  '/ex/TorF/qq/in the sentence ‘John is square or Ayesha is triangular’, the word ‘John’ is a name|in the same sentence, ‘square’ is a predicate|in the same sentence, ‘square’ is a connective|in the same sentence, ‘or’ is a predicate|in the same sentence, ‘or’ is a connective'
]
exNormal: [
  '/ex/q/define ‘logically valid argument’'
  '/ex/TorF/from/Either the pig went up the left fork or it went up the right fork|The pig didn’t go up the left fork/to/The pig went up the right fork/qq/The argument is logically valid'
  '/ex/TorF/from/A or B|not A/to/B/qq/The argument is logically valid'
  '/ex/TorF/from/The pig didn’t go up the left fork/to/The pig went up the right fork/qq/The argument is logically valid'
  '/ex/TorF/from/not A/to/B/qq/The argument is logically valid'
  '/ex/TorF/qq/in the sentence ‘John is square or Ayesha is triangular’, the word ‘John’ is a name|in the same sentence, ‘square’ is a predicate|in the same sentence, ‘square’ is a connective|in the same sentence, ‘or’ is a predicate|in the same sentence, ‘or’ is a connective'
]
sequence: 15
---

include ../../../fragments/unit_mixins

//-
//- +slide({bkg:'unit_029/slide-001.jpeg'})
//-   .notes
//-
//- +slide({bkg:'unit_029/slide-002.jpeg'})
//-   .notes
//-
//- +slide({bkg:'unit_029/slide-003.jpeg'})
//-   .notes
//-
//- +slide({bkg:'unit_029/slide-004.jpeg'})
//-   .notes
//-
//- +slide({bkg:'unit_029/slide-005.jpeg'})
//-   .notes
//-

+slide({bkg:'unit_029/slide-006.jpeg'})
  .notes

+slide({bkg:'unit_029/slide-007.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/name_predicate_sentence.png')

+slide({bkg:'unit_029/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_029/slide-009.jpeg'})
  .notes 

