---cson
layout: 'deck_units'
title: "The Syntax of Logiya"
description: "States the rules of syntax for Logiya.  Illustrates these with tree diagrams.  Links to truth tables."
tags: ['syntax']
depends: ['unit_170']
source: ['ph126 lecture 06']
duration: 12
book: []
exercises: []
exercises_fast: []
sequence: 380
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_230/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-033.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-034.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-035.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-036.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-037.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-038.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-039.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-040.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-041.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-042.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_230/slide-069.jpeg'})
  .notes 

