---cson
layout: 'deck_units' 
title: "Recap: Validity, Counterexamples"
description: "Illustrates the notions of counterexample and validity with a simple example argument."
tags: ['definitions']
depends: ['unit_03','unit_04']
source: ['ph126 lecture 02']
sequence: 90
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_05/slide-001.jpeg'})
  .handout An argument is \emph{logically valid} just if there’s no possible situation in which the premises are true and the conclusion false
  .handout A \emph{counterexample} to an argument is a possible situation in which its premises are T and its conclusion F.

  .notes 

+slide({bkg:'unit_05/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_05/slide-014.jpeg'})
  .notes 

