---cson
layout: 'deck_units'
title: "Proof of the Completeness Theorem"
description: "Sketches a proof of the completeness theorem."
tags: ['meta']
depends: ['453']
source: ['ph126 lecture 13']
duration: 5
book: ['8.3','17.1','17.2']
exercises: []
exercises_fast: []
sequence: 990
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_455/slide-254.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_455_completeness.png')


+slide({bkg:'unit_455/slide-255.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-256.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-257.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-258.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-259.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-260.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-261.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-262.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-263.jpeg'})
  .notes 

+slide({bkg:'unit_455/slide-264.jpeg'})
  .notes 

