---cson
layout: 'deck_units'
title: "The Soundness Property and the Fubar Rules"
description: "Identifies a property of the rules of proof in Fitch: no rule allows us to go from truths to a falsehood.  Also returns to the challenge of explaining what is what is wrong with ∧Fubar."
tags: ['meta']
depends: ['340']
source: ['ph126 lecture 13']
duration: 10
book: ['8.3']
exercises: ['7.32']
exercises_fast: ['7.32']
sequence: 900
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_345/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-033.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-034.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-035.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-036.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-037.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-038.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-039.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-040.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-041.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-042.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_345/slide-053.jpeg'})
  .notes 

