---cson
layout: 'deck_units'
title: "A ∧ B ∨ C"
description: "Distinguishes lexical from structural ambiguity.  Asks how we can know there is no structural ambiguity in our formal language Logiya."
tags: ['proof','syntax']
depends: ['unit_071']
source: ['ph133 lecture 03']
duration: 2
sequence: 290
book: ['3.5']
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_151/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_151/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_151/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_151/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_151/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_151/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_151/slide-088.jpeg'})
  .notes 

