---cson
layout: 'deck_units'
title: "Tonk"
description: "Describes rules for a new connective, Tonk.  This is relevant to questions about meaning and use."
tags: ['semantics','proof'] 
depends: []
source: ['ph126 lecture 10']
duration: 3
book: []
exercises: []
exercises_fast: []
sequence: 670
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_730/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_730/slide-053.jpeg'})
  .notes 

