---cson
layout: 'deck_units'
title: "A ∧ B ∨ C: They Are Different"
description: "Uses two arguments to show that (A ∧ B) ∨ C and A ∧ (B ∨ C) really are different."
tags: ['truth-tables']
depends: ['unit_151']
source: ['ph133 lecture 03']
duration: 6
sequence: 310
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_154/slide-128.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-132.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-139.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-140.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_154/slide-142.jpeg'})
  .notes 

