---cson
layout: 'deck_units'
title: "∨Elim: An Example"
description: "Illustrates the use of ∨Elim, a rule of proof.  Uses the inference from A∨B to B∨A as an example."
tags: ['proof','proof-example']
depends: []
source: ['ph133 lecture 04', 'ph126 fastlecture 03']
duration: 10
sequence: 350
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_221/slide-102a.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-102b.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_221/slide-119.jpeg'})
  .notes 

