---cson
layout: 'deck_units' 
title: "Proof Example: ¬P∨R therefore P→R"
description: "Describes how to prove ¬P∨R therefore P→R."
tags: ['proof','revision','proof-example']
depends: ['unit_280', 'unit_320']
source: ['ph126 lecture 08']
duration: 9
sequence: 530
exNormal: [
  '/ex/proof/from/not A or B/to/A arrow B'  
  '/ex/proof/from/not (A and not B)/to/A arrow B'  
]
exFast: [
  '/ex/proof/from/not A or B/to/A arrow B'  
  '/ex/proof/from/not (A and not B)/to/A arrow B'  
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_820/slide-007.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_320_proof.png')

+slide({bkg:'unit_820/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-033.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-034.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-035.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-036.jpeg'})
  .notes 

+slide({bkg:'unit_820/slide-037.jpeg'})
  .notes 

