---cson
layout: 'deck_units'
title: "Relations: Reflexive, Symmetric"
description: "Explains what it is for a relation to be reflexive, and what it is for a relation to be symmetric."
tags: ['quantification','relations','counterexamples']
depends: ['740','742']
source: ['ph126 lecture 11']
duration: 5
book: ['15.1', '15.6']
exercises: []
exercises_fast: []
sequence: 720
exNormal : [
  '/ex/TorF/qq/Adjacent is a reflexive relation|Identity is a reflexive relation|Above is a reflexive relation|SameShape is a reflexive relation|DifferentShape is a reflexive relation'
  '/ex/TorF/qq/Adjacent is a symmetric relation|Identity is a symmetric relation|Above is a symmetric relation|SameShape is a symmetric relation|DifferentShape is a symmetric relation'
  
  '/ex/create/orValid/from/-/to/all x Above(x,x)'
  '/ex/create/orValid/from/-/to/all x SameShape(x,x)'
  '/ex/create/orValid/from/-/to/all x all y (SameShape(x,y) arrow SameShape(y,x))'
  '/ex/create/orValid/from/-/to/all x all y (Above(x,y) arrow Above(y,x))'
  '/ex/counter/orValid/from/all x R(x,x)/to/all x all y (R(x,y) arrow R(y,x))'
  '/ex/counter/orValid/from/all x all y (R(x,y) arrow R(y,x))/to/all x R(x,x)'
]
exFast : [
  '/ex/TorF/qq/Adjacent is a reflexive relation|Identity is a reflexive relation|Above is a reflexive relation|SameShape is a reflexive relation|DifferentShape is a reflexive relation'
  '/ex/TorF/qq/Adjacent is a symmetric relation|Identity is a symmetric relation|Above is a symmetric relation|SameShape is a symmetric relation|DifferentShape is a symmetric relation'
  
  '/ex/create/orValid/from/-/to/all x Above(x,x)'
  '/ex/create/orValid/from/-/to/all x SameShape(x,x)'
  '/ex/create/orValid/from/-/to/all x all y (SameShape(x,y) arrow SameShape(y,x))'
  '/ex/create/orValid/from/-/to/all x all y (Above(x,y) arrow Above(y,x))'
  '/ex/counter/orValid/from/all x R(x,x)/to/all x all y (R(x,y) arrow R(y,x))'
  '/ex/counter/orValid/from/all x all y (R(x,y) arrow R(y,x))/to/all x R(x,x)'
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_120/slide-001.jpeg'})
  .notes 
  .handout A \emph{reflexive} relation is one that everything bears to itself.  (E.g. everything is the SameShape as itself.  E.g. of non-reflexive: not everything is LeftOf itself).
  .handout A \emph{symmetric} relation is one such that if x bears it to y, then y bears it to x.  (E.g. Adjacent(x,y) is symmetric, LeftOf(x,y) is not symmetric.)


+slide({bkg:'unit_120/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_120/slide-011.jpeg'})
  .notes 

