---cson
layout: 'deck_units' 
title: "Soundness and Completeness: Statement of the Theorems"
description: "Explains what it is for a system of proof, such as Fitch, to be sound; and what it is for a system of proof to be complete."
tags: ['meta']
depends: ['']
book: ['8.3','13.4']
source: ['ph126 lecture 09']
duration: 9
sequence: 970
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_400/slide-178.jpeg'})
  .notes 
  .handout  ‘A  $\vdash$ B’ means there is a proof of B using premises A
  .handout ‘$\vdash$ B’ means there is a proof of B using no premises
  .handout ‘A ⊨ B’ means B is a logical consequence of A
  .handout ‘⊨  B’ means B is a tautology
  .handout ‘A ⊨$_{TT}$ B’ means B is a logical consequence of A just in virtue of the meanings of truth-functions (the textbook LPL calls this ‘tautological consequence’)
  .handout \emph{Soundness}: If A $\vdash$ B then A ⊨ B 
  .handout \hspace{3mm} i.e. if you can prove it in Fitch, it’s valid
  .handout \emph{Completeness}: If A ⊨$_{TT}$ B then A  $\vdash$ B 
  .handout \hspace{3mm} i.e. if it’s valid just in virtue of the meanings of the truth-functional connectives, then you can prove it in Fitch.


+slide({bkg:'unit_400/slide-179.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-180.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-181.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-182.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-183.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-184.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-185.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-186.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-187.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-188.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-189.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-190.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-191.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-192.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-193.jpeg'})
  .notes 

+slide({bkg:'unit_400/slide-194.jpeg'})
  .notes 

