---cson
layout: 'deck_units' 
title: "Quantifier Equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Broken(x) → ¬Square(x))"
description: "Describes how we can use knowledge of equivalences among propositional sentences to get quantifier equivalences with an example.  The example is the inference from this: A → B ⫤⊨ ¬B → ¬A, to this: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Broken(x) → ¬Square(x))."
tags: ['translation','quantifiers']
depends: ['']
source: ['ph126 lecture 14']
duration: 5
book: ['10.3']
exercises: ['10.20, 10.22']
exercises_fast: []
sequence: 860
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_760/slide-128.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_760_tt.png')

+slide({bkg:'unit_760/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-132.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-139.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-140.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-142.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-143.jpeg'})
  .notes 

+slide({bkg:'unit_760/slide-144.jpeg'})
  .notes 

