---cson
layout: 'deck_units' 
title: "Revison: Translation from English to FOL"
description: "Discusses an exam question."
tags: ['quantification','translation']
depends: ['740']
source: ['ppe revision lecture 03']
duration: 10
book: []
exercises: []
exercises_fast: []
sequence: 990
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_971/slide-001.jpeg'})
  .notes 
  //- handout
  .handout \emph{Exercise}  Translate the following sentences of English into FOL using the interpretation below:
  .handout \hspace{5mm} L(x,y)	: x is a logical consequence of y
  .handout \hspace{5mm} N(x,y)	: x is the negation of y
  .handout \hspace{5mm} S(x)	: x is a sentence
  .handout \hspace{5mm} a		: ‘Fire melts ice’
  .handout i.	‘Fire melts ice’ is a sentence
  .handout ii.	There is a sentence 
  .handout iii.	There is a sentence which is the negation of ‘Fire melts ice’
  .handout iv.	Some sentences are contradictions and all contradictions are logically equivalent.

  

+slide({bkg:'unit_971/slide-002.jpeg'})
+slide({bkg:'unit_971/slide-003.jpeg'})
+slide({bkg:'unit_971/slide-004.jpeg'})
+slide({bkg:'unit_971/slide-005.jpeg'})
+slide({bkg:'unit_971/slide-006.jpeg'})
+slide({bkg:'unit_971/slide-007.jpeg'})
+slide({bkg:'unit_971/slide-008.jpeg'})
+slide({bkg:'unit_971/slide-009.jpeg'})
+slide({bkg:'unit_971/slide-011.jpeg'})
+slide({bkg:'unit_971/slide-012.jpeg'})
+slide({bkg:'unit_971/slide-013.jpeg'})
+slide({bkg:'unit_971/slide-014.jpeg'})
+slide({bkg:'unit_971/slide-015.jpeg'})
+slide({bkg:'unit_971/slide-016.jpeg'})
+slide({bkg:'unit_971/slide-017.jpeg'})
+slide({bkg:'unit_971/slide-018.jpeg'})
+slide({bkg:'unit_971/slide-019.jpeg'})
+slide({bkg:'unit_971/slide-020.jpeg'})
+slide({bkg:'unit_971/slide-021.jpeg'})
+slide({bkg:'unit_971/slide-022.jpeg'})
+slide({bkg:'unit_971/slide-023.jpeg'})
+slide({bkg:'unit_971/slide-024.jpeg'})
+slide({bkg:'unit_971/slide-025.jpeg'})
+slide({bkg:'unit_971/slide-026.jpeg'})
+slide({bkg:'unit_971/slide-027.jpeg'})
+slide({bkg:'unit_971/slide-028.jpeg'})
+slide({bkg:'unit_971/slide-029.jpeg'})
+slide({bkg:'unit_971/slide-030.jpeg'})
+slide({bkg:'unit_971/slide-031.jpeg'})
+slide({bkg:'unit_971/slide-032.jpeg'})
+slide({bkg:'unit_971/slide-033.jpeg'})
+slide({bkg:'unit_971/slide-034.jpeg'})
+slide({bkg:'unit_971/slide-035.jpeg'})
