---cson
layout: 'deck_units'
title: "The End Is Near"
description: "Extremely brief introduction to definite descriptions.  Hints at how sentences such as 'The winner is hungry' might be translated into FOL."
tags: ['quantification','translation']
depends: ['470']
source: ['ph126 lecture 15']
duration: 10
book: ['14.3']
exercises: ['14.26, 14.28']
exercises_fast: ['14.2', '14.4, 14.5', '14.10, 14.11', '14.26, 14.28']
sequence: 1040
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_790/slide-133.jpeg'})
  .notes 
  .handout ‘The’ can be a quantifier, e.g. ‘the square is broken’.  How to formalise it?
  .handout The square is broken
  .handout ⫤⊨ There is exactly one square and it is broken
  .handout ⫤⊨ There is at most one square and there is at least one square and it is broken
  .handout ⫤⊨ There is at most one square and there is at least one square and all squares are broken
  .handout ⫤⊨ ¬ ∃x ∃y ( Square(x) ∧ Square(y) ∧ ¬x=y ) 
  .handout \hspace{5mm} ∧ ∃x Square(x) 
  .handout \hspace{5mm}  ∧ ∀x ( Square(x) → Broken(x) )

  .handout Which shorter sentences are equivalent to this?
  .handout ∃x ( Square(x) ∧ ∀y ( Square(y) → y=x ) ∧ Broken(x) )
  .handout ∃x ( ∀y ( Square(y) ↔ y=x ) ∧ Broken(x) )

  .slide
    p(style='margin-top:150px;') There is an end
      span.hide.step2 , and all ends are this end
      span.hide.step4 , and it is near.
  .slide 
    p ∃x 
      span.hide.step3  ( 
      span End(x) 
      span.hide.step3  ∧ ∀y ( End(y) → x=y ) 
      span.hide.step5  ∧ Near(x) 
      span.hide.step3  ) 
  +show('.step2')
  +show('.step3')
  +invert('.step2, .step3')
  +uninvert('.step2, .step3')
  +show('.step4')
  +show('.step5')
  +invert('.step4, .step5')
  +uninvert('.step4, .step5')

//- 
//- +slide({bkg:'unit_790/slide-134.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-135.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-136.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-137.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-138.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-139.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-140.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-141.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-142.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-143.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-144.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-145.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-146.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-147.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-148.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-149.jpeg'})
//-   .notes 
//- 
//- +slide({bkg:'unit_790/slide-150.jpeg'})
//-   .notes 
//- 
+slide({bkg:'unit_790/slide-151.jpeg'})
  .notes 

+slide({bkg:'unit_790/slide-152.jpeg'})
  .notes 

