---cson
layout: 'deck_units' 
title: "Revision: ∀Elim, ∃Intro"
description: "Summary of two rules of proof, ∀Elim and ∃Intro."
tags: ['proof'] 
depends: ['800', '801']
source: ['ph126 lecture 10']
book: ['12.1','13.1','13.2']
duration: 2
exercises: []
exercises_fast: []
sequence: 610
exNormal:[
  '/ex/proof/from/all x Happy(x)/to/Happy(a)'
  '/ex/proof/from/Happy(a)/to/exists x Happy(x)'
  '/ex/proof/from/all x Happy(x)/to/exists x Happy(x)'
]
exFast:[
  '/ex/proof/from/all x Happy(x)/to/exists x Happy(x)'
]

---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_551/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_551/slide-071.jpeg'})
  .notes 

+slide({bkg:'unit_551/slide-072.jpeg'})
  .notes 

+slide({bkg:'unit_551/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_551/slide-074.jpeg'})
  .notes 

