---cson
layout: 'deck_units' 
images: 'unit_135'
title: "Formalizing Arguments"
description: "Illustrates how for formalise simple arguments with the 'pigs' illustration."
tags: ['translation'] 
depends: ['unit_01','unit_02']
source: ['ph126 lecture 02']
sequence: 140
book: [3.7]
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_135/slide-051.jpeg'})
  .notes How can we formalise this argument.
  .notes We could introduce a name for the pig and predictates for its actions.
  .notes But we don't need to introduce names and predictates.
  .notes In the case of this argument, we can formalise it just using letters for sentences.

+slide({bkg:'unit_135/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-063.jpeg'})
  .notes 

