---cson
layout: 'deck_units'
title: "A ∧ B ∨ C: the Truth-tables"
description: "Illustrates how to construct complex truth tables for (A ∧ B) ∨ C and A ∧ (B ∨ C)."
tags: ['truth-tables']
depends: ['unit_151']
source: ['ph133 lecture 03']
duration: 11
sequence: 300
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_153/slide-089.jpeg'})
  //- handout
  .img.handout(data-src='img/tt_unit_153.png')
  .notes 

+slide({bkg:'unit_153/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-119.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-124.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-125.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-126.jpeg'})
  .notes 

+slide({bkg:'unit_153/slide-127.jpeg'})
  .notes 

