---cson
layout: 'deck_units'
title: "Summary of Relations"
description: "Quick summary definition of reflexive, symmetric and transitive."
tags: ['relations']
depends: ['120','125']
source: ['ph126 lecture 11']
duration: 3
book: []
exercises: []
exercises_fast: []
sequence: 780
handout: false
exNormal : [
  '/ex/trans/domain/things/names/-/predicates/LivesNear2-x-lives-near-y/sentence/The relation that holds between two not necessarily distinct things when the first lives near the second is a reflexive relation'  
  '/ex/trans/domain/things/names/-/predicates/Loves2-x-loves-y/sentence/The relation that holds between two not necessarily distinct things when the first loves the second is not a reflexive relation'  
  '/ex/trans/domain/things/names/-/predicates/SiblingOf2-x-is-y’s-sibling/sentence/The relation of sibinghood is a symmetric relation'  
  '/ex/trans/domain/things/names/-/predicates/SisterOf2-x-is-y’s-sister/sentence/The relation *sister of* is not a symmetric relation'  
  '/ex/trans/domain/things/names/-/predicates/-/sentence/Identity is a symmetric relation'  
  '/ex/trans/domain/things/names/-/predicates/BelongsTo2-x-belongs-to-y/sentence/not all x all y (BelongsTo(x,y) arrow BelongsTo(y,x))'
  '/ex/trans/domain/things/names/-/predicates/SiblingOf2-x-is-y’s-sibling/sentence/The relation of sibinghood is a transitive relation'  
  '/ex/trans/domain/things/names/-/predicates/SisterOf2-x-is-y’s-sister/sentence/not all x all y all z ((SisterOf(x,y) and SisterOf(y,z)) arrow SisterOf(x,z))'  
]
exFast : [
  '/ex/trans/domain/things/names/-/predicates/LivesNear2-x-lives-near-y/sentence/The relation that holds between two not necessarily distinct things when the first lives near the second is a reflexive relation'  
  '/ex/trans/domain/things/names/-/predicates/Loves2-x-loves-y/sentence/The relation that holds between two not necessarily distinct things when the first loves the second is not a reflexive relation'  
  '/ex/trans/domain/things/names/-/predicates/SisterOf2-x-is-y’s-sister/sentence/The relation *sister of* is not a symmetric relation'  
  '/ex/trans/domain/things/names/-/predicates/-/sentence/Identity is a symmetric relation'  
  '/ex/trans/domain/things/names/-/predicates/BelongsTo2-x-belongs-to-y/sentence/not all x all y (BelongsTo(x,y) arrow BelongsTo(y,x))'
  '/ex/trans/domain/things/names/-/predicates/SiblingOf2-x-is-y’s-sibling/sentence/The relation of sibinghood is a transitive relation'  
  '/ex/trans/domain/things/names/-/predicates/SisterOf2-x-is-y’s-sister/sentence/not all x all y all z ((SisterOf(x,y) and SisterOf(y,z)) arrow SisterOf(x,z))'  
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_126/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_126/slide-171.jpeg'})
  .notes 

