---cson
layout: 'deck_units'
title: "¬Elim"
description: "Introduces the rule of proof ¬Elim with an illustration.  Relates the rule to the truth table for ¬."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 06']
duration: 3
book: ['6.3']
exercises: []
exercises_fast: []
sequence: 410
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_280/slide-078.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/rule_negation_elim.png')

+slide({bkg:'unit_280/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_280/slide-097.jpeg'})
  .notes 

