---cson
layout: 'deck_units'
title: "¬P ∨ ¬Q compared with ¬(P ∨ Q)"
description: "Explains how the brackets make a different to the meanings of sentences.  Illustrates by comparing ¬P ∨ ¬Q with ¬(P ∨ Q)."
tags: ['syntax']
depends: ['unit_230']
source: ['new']
duration: 8
book: ['3.5']
exercises_fast: []
sequence: 400
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_232/slide-000.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-001.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-033.jpeg'})
  .notes 

+slide({bkg:'unit_232/slide-034.jpeg'})
  .notes 

