---cson
layout: 'deck_units' 
title: "Summary of Quantifier Rules So Far"
description: "Summary of ∀Elim, ∃Intro and ∃Elim."
tags: ['proof'] 
depends: ['550', '503', '550']
source: ['ph126 lecture 10']
duration: 2
book: ['12.1','12.2','12.3','13.1','13.2']
exercises: []
exercises_fast: []
sequence: 680
exNormal : [
  '/ex/proof/from/all x Scary(x)/to/exists x Scary(x)'
  '/ex/proof/from/exists x Loud(x)|all x (Loud(x) arrow Scary(x))/to/exists x Scary(x)'
]
exFast : [
  '/ex/proof/from/all x Scary(x)/to/exists x Scary(x)'
  '/ex/proof/from/exists x Loud(x)|all x (Loud(x) arrow Scary(x))/to/exists x Scary(x)'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_571/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_571/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_571/slide-123.jpeg'})
  .notes 

