---cson
layout: 'deck_units'
title: "Every Time I Go to the Dentist Someone Dies"
description: "Discusses translating English sentences involving obscured quantifiers into awFOL with an example."
tags: ['quantifiers','translation']
depends: ['560']
source: ['ph126 lecture 14']
duration: 5
book: ['11.2']
sequence: 850
exNormal : [
  '/ex/trans/domain/things/names/-/predicates/FairyGodmother1-x-is-a-fairy-godmother|Wand1-x-is-a-wand|BelongsTo2-x-belongs-to-y/sentence/Every fairy godmother has a wand'
  '/ex/trans/domain/things/names/a=Pheoebe/predicates/Person1-x-is-a-person|Time1-x-is-a-time|DentistAt2-x-goes-to-the-dentist-at-time-y|DiesAt2-x-dies-at-y/sentence/Everytime Pheoebe goes to dentist, someone dies'
  '/ex/trans/domain/things/names/a=Ayesha/predicates/Time1-x-is-a-time|BlinksAt2-x-blinks-at-time-y|Person1-x-is-a-person|KicksAt3-x-kicks-y-at-time-z/sentence/Everytime Ayesha blinks someone kicks her'  
  '/ex/trans/domain/things/names/a=Ayesha/predicates/Time1-x-is-a-time|BlinksAt2-x-blinks-at-time-y|Person1-x-is-a-person|Kick1-x-is-a-kick|AgentOf2-x-is-the-agent-of-y|TimeOf2-x-is-the-time-of-y|RecipientOf2-x-is-the-recipient-of-y/sentence/Everytime Ayesha blinks someone kicks her'  
]
exFast : [
  '/ex/trans/domain/things/names/-/predicates/FairyGodmother1-x-is-a-fairy-godmother|Wand1-x-is-a-wand|BelongsTo2-x-belongs-to-y/sentence/Every fairy godmother has a wand'
  '/ex/trans/domain/things/names/a=Pheoebe/predicates/Person1-x-is-a-person|Time1-x-is-a-time|DentistAt2-x-goes-to-the-dentist-at-time-y|DiesAt2-x-dies-at-y/sentence/Everytime Pheoebe goes to dentist, someone dies'
  '/ex/trans/domain/things/names/a=Ayesha/predicates/Time1-x-is-a-time|BlinksAt2-x-blinks-at-time-y|Person1-x-is-a-person|KicksAt3-x-kicks-y-at-time-z/sentence/Everytime Ayesha blinks someone kicks her'  
  '/ex/trans/domain/things/names/a=Ayesha/predicates/Time1-x-is-a-time|BlinksAt2-x-blinks-at-time-y|Person1-x-is-a-person|Kick1-x-is-a-kick|AgentOf2-x-is-the-agent-of-y|TimeOf2-x-is-the-time-of-y|RecipientOf2-x-is-the-recipient-of-y/sentence/Everytime Ayesha blinks someone kicks her'  
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_750/slide-001.jpeg'})
  .notes 
  .handout ∀t ( 
  .handout \hspace{5mm} ( Time(t) ∧ ToDentist(a,t) ) 
  .handout \hspace{5mm}   → 
  .handout \hspace{5mm} ∃x ( Person(x) ∧ TimeOfDeath(x,t) ) 
  .handout )

+slide({bkg:'unit_750/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_750/slide-026.jpeg'})
  .notes 

