---cson
layout: 'deck_units'
title: "Quantifier Equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Square(x) ∨ Broken(x))"
description: "A further example of how we can use knowledge of equivalences among propositional sentences to get quantifier equivalences."
tags: ['translation','quantifiers']
depends: ['760']
source: ['ph126 lecture 14']
duration: 5
book: ['10.3']
exercises: []
exercises_fast: []
sequence: 870
handout: false
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_762/slide-145.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-146.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-147.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-148.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-149.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-150.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-151.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-152.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-153.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-154.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-155.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-156.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-157.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-158.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-159.jpeg'})
  .notes 

+slide({bkg:'unit_762/slide-160.jpeg'})
  .notes 

