---cson
layout: 'deck_units'
title: "Proof Example: ¬(P∨Q) therefore ¬P∧¬Q"
description: "Describes how to prove ¬(P∨Q) therefore ¬P∧¬Q."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 lecture 08']
duration: 9
sequence: 580
exercises: ['6.24--6.27']
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_821/slide-129.jpeg'})
  .notes 
  //- handout
  .handout.img(data-src='img/unit_821_proof.png')
  .handout.img(data-src='img/unit_821_proof2.png')

+slide({bkg:'unit_821/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-132.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-139.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-140.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-142.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-143.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-144.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-145.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-146.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-147.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-148.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-149.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-150.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-151.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-152.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-153.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-154.jpeg'})
  .notes 

+slide({bkg:'unit_821/slide-155.jpeg'})
  .notes 

