---cson
layout: 'deck_units' 
title: "Multiple Quantifiers: Everyone Likes Puffins"
description: "Introduces translation from English to FOL using multiple universal quantifiers with an example."
tags: ['quantification','semantics','translation']
depends: ['']
source: ['ph126 lecture 10']
duration: 5
book: ['11.1']
exercises: ['11.2']
exercises_fast: []
sequence: 660
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_742/slide-015.jpeg'})
  .notes 
  .handout I like puffins:
  .handout \hspace{3mm}  ∀x ( Puffin(x) → Likes(a,x) )
  .handout y likes puffins:
  .handout \hspace{3mm} ∀x ( Puffin(x) → Likes(y,x) )
  .handout Everyone likes puffins:
  .handout \hspace{3mm} ∀y ∀x ( Puffin(x) → Likes(y,x) )

+slide({bkg:'unit_742/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_742/slide-032.jpeg'})
  .notes 

