---cson
layout: 'deck_units' 
title: "Monitoring Students’ Progress"
description: "How to check what students’ have completed, whether they are getting the answers right and what their answers are."
tags: ['logic-ex', 'tutors']
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_052/160124-0001.jpg'})
  .notes: :t
    There are two main ways to get a view on what your students are doing.
    If you want an overview, you can select the ‘Tutees’ progress’ link.
    This will give you graphs of their performance. It is also a quick 
    way to see what each student got wrong in the last 7 days.
  .notes: :t
    I don’t want to show you that because it should be easy to follow.
    Instead look at the link ‘List of tutees’.
    I’ll click that and it takes me to a page with all my tutees ...
    
+slide({bkg:'unit_052/160124-0002.jpg'})
  .notes: :t
    If you click on one of the exercise set links for one of your students,
    it will take you to a page that shows the student’s progress
    with that set of exercises.
    Let’s do that now ...
    
+slide({bkg:'unit_052/160124-0003.jpg'})
  .notes: :t
    So here I’m looking at the ‘normal-normal’ exercises, but instead of seeing
    my own progress donut I’m seeing the student’s progress.
    Now I’ll scroll down.
    
+slide({bkg:'unit_052/160124-0004.jpg'})
  .notes: :t
    If I select the links for a particular lecture or unit of a lecture ...
+slide({bkg:'unit_052/160124-0005.jpg'})
  .notes: :t
    ... I see which exercises the student has answered correctly and which
    she got wrong, as well as which still need answers.
    (Here the student has the exercises all right).
  .notes: :t
    If I want to see the student’s answer to any of these exercises, I can
    just click on the link ...
    
+slide({bkg:'unit_052/160124-0006.jpg'})
  .notes: :t
    Clicking on the exercise link has taken me to the grading page,
    but here I see only the answer provided by the student whose progress
    I’m reviewing.
  .notes: :t
    If I want to see more answers, I can use the ‘next exercise’ link at the bottom
    to got to the next link, or I can hit the ‘back’ button of my browser 
    to get back to the list of exercises.