---cson
layout: 'deck_units' 
title: "Proof Example: ∃x Dead(x) ⊢ ¬∀x¬ Dead(x)."
description: "Describes how to prove that not everything is not dead given that something is dead."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 revision lecture 01 proofs 2009-10']
duration: 5
sequence: 840
exercises_fast: ['13.43--13.45']
exNormal: [
  '/ex/proof/orInvalid/from/∃x Dead(x)/to/¬∀x¬ Dead(x)'
  '/ex/proof/orInvalid/from/∃x (Fish(x) and Swimmer(x))/to/¬∀x¬ Fish(x)'
  '/ex/counter/orValid/from/∃x (Fish(x) and Swimmer(x))/to/¬∀x¬ Fish(x)'
  '/ex/proof/orInvalid/from/∃x Fish(x)/to/¬∀x¬ (Fish(x) and Swimmer(x))'
  '/ex/counter/orValid/from/∃x Fish(x)/to/¬∀x¬ (Fish(x) and Swimmer(x))'
]
exFast: [
  '/ex/proof/orInvalid/from/∃x Dead(x)/to/¬∀x¬ Dead(x)'
  '/ex/proof/orInvalid/from/∃x (Fish(x) and Swimmer(x))/to/¬∀x¬ Fish(x)'
  '/ex/counter/orValid/from/∃x (Fish(x) and Swimmer(x))/to/¬∀x¬ Fish(x)'
  '/ex/proof/orInvalid/from/∃x Fish(x)/to/¬∀x¬ (Fish(x) and Swimmer(x))'
  '/ex/counter/orValid/from/∃x Fish(x)/to/¬∀x¬ (Fish(x) and Swimmer(x))'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_825/slide-266.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_825_proof.png')

+slide({bkg:'unit_825/slide-267.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-268.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-269.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-270.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-271.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-272.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-273.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-274.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-275.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-276.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-277.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-278.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-279.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-280.jpeg'})
  .notes 

+slide({bkg:'unit_825/slide-281.jpeg'})
  .notes 

