---cson
layout: 'deck_units'
title: "Proof Example: P therefore ¬¬P."
description: "Describes how to prove P therefore ¬¬P."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 lecture 09']
duration: 9
sequence: 830
exNormal : [
  '/ex/proof/from/not not A/to/A'
  '/ex/proof/from/A/to/not not A'
  '/ex/proof/from/-/to/A arrow A'
  '/ex/proof/from/-/to/A arrow not not A'
  
  '/ex/proof/from/A arrow false/to/not A'
  '/ex/proof/from/A arrow not A/to/not A'
  '/ex/proof/from/not A/to/A arrow not A'
]
exFast : [
  '/ex/proof/from/-/to/A arrow not not A'
  
  '/ex/proof/from/A arrow false/to/not A'
  '/ex/proof/from/A arrow not A/to/not A'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_823/slide-096.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_823_proof.png')

+slide({bkg:'unit_823/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_823/slide-111.jpeg'})
  .notes 

