---cson
layout: 'deck_units' 
title: "Fubar Rules"
description: "Introduces a fake rule of proof, ∧Fubar.  The challenge is to explain what is wrong with ∧Fubar."
tags: ['meta']
depends: ['']
source: ['ph126 fastlecture 04']
duration: 5
book: ['8.3']
exercises: []
exercises_fast: []
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_340/slide-191.jpeg'})
  .notes 
  .handout \begin{minipage}{\columnwidth}
  .handout Consider this made-up rule:
  .handout.img(data-src='img/fubar_rule.png')
  .handout   Q1. What would be wrong with adding ∧Fubar to Fitch?
  .handout   Q2. What would be wrong with having ∧Fubar in any system of proof?
  .handout \end{minipage}
  

+slide({bkg:'unit_340/slide-192.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-193.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-194.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-195.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-196.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-197.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-198.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-199.jpeg'})
  .notes 

+slide({bkg:'unit_340/slide-200.jpeg'})
  .notes 

