---cson
layout: 'deck_units'
title: "Proofs about Proofs"
description: "Explains how to prove proofs about proofs.  Examples include: (i) if A ⊢ B then ⊢ A → B, (ii) if A ⊢ B then A ⊢ ¬¬B"
tags: ['meta']
depends: ['']
source: ['ph126 lecture 13']
duration: 7
book: []
exercises: []
exercises_fast: []
sequence: 840
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_440/slide-187.jpeg'})
  .notes 
  .handout \begin{minipage}{\columnwidth}
  .handout \textbf{If A ⊢ B then ⊢ A→B}
  .handout Proof Given a proof for A ⊢ B …
  .handout.img(data-src='img/unit_440_a.png')
  .handout … we can turn it into a proof for ⊢ A→B:
  .handout.img(data-src='img/unit_440_b.png')
  .handout \end{minipage}

  .handout \textbf{If ⊢ A→B then A ⊢ B}

  .handout \begin{minipage}{\columnwidth}
  .handout \textbf{If A ⊢ B then A ⊢ ¬¬B}
  .handout Proof:
  .handout.img(data-src='img/unit_440_c.png')
  .handout \end{minipage}
 
  .handout \textbf{If A ⊢ C then A ⊢ B→C}
  .handout \textbf{If A ⊢ B and A ⊢ ¬C then A ⊢ ¬(B→C)}

+slide({bkg:'unit_440/slide-188.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-189.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-190.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-191.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-192.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-193.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-194.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-195.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-196.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-197.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-198.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-199.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-200.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-201.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-202.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-203.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-204.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-205.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-206.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-207.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-208.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-209.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-210.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-211.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-212.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-213.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-214.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-215.jpeg'})
  .notes 

+slide({bkg:'unit_440/slide-216.jpeg'})
  .notes 

