---cson
layout: 'deck_units'
title: "The Soundness Property and the Fubar Rules (fast)"
description: "Identifies a property of the rules of proof in Fitch: no rule allows us to go from truths to a falsehood.  Illustrates by contrasting ∧Elim with ∧Fubar."
tags: ['meta']
depends: ['340']
source: ['ph126 lecture 13']
duration: 10
book: ['8.3']
exercises: ['7.32']
exercises_fast: ['7.32']
sequence: 900
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_346/slide-042.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_346_and.png')
  .handout.img(data-src='img/unit_346_fubar.png')

+slide({bkg:'unit_346/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_346/slide-052.jpeg'})
  .notes 

