---cson
layout: 'deck_units'
title: "Numerical Quantifiers"
description: "Explains how to translate sentences involving number, such as exactly two things are broken, into Logiya using quantifiers and identity."
tags: ['quantification','translation']
depends: ['470']
source: ['ph126 lecture 15']
duration: 10
book: ['14.1']
exercises: []
exercises_fast: ['14.2--14.3'', '14.10--14.11']
sequence: 1030
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_620/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_620/slide-117.jpeg'})
  .notes 

