---cson
layout: 'deck_units' 
title: "Vegetarians Are Evil"
description: "Practices translating an English argument involving quantifers into awFOL."
tags: ['quantification']
depends: ['unit_501']
source: ['ph126 lecture 08']
duration: 5
book: ['9.2','9.3','9.5']
exercises: []
exercises_fast: []
sequence: 460
exFast:[
  '/ex/create/qq/exists x Tall(x)|exists x Sad(x)|exists x Crying(x)|all x (Tall(x) arrow Sad(x))|all x (Sad(x) arrow Crying(x))|not all x (Crying(x) arrow Tall(x))'
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_502/slide-031.jpeg'})
  .notes 
  .handout.img(data-src='img/vegetarians.png')

+slide({bkg:'unit_502/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-033.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-034.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-035.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-036.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-037.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-038.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-039.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-040.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-041.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-042.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-054.jpeg'})
  .notes 

