---cson
layout: 'deck_units' 
title: "¬Intro continued"
description: "Completes the proof used to illustrate ¬Intro."
tags: ['proof']
depends: ['unit_281']
source: ['ph126 lecture 06']
duration: 3
sequence: 410
handout: false
exNormal: [
  '/ex/proof/from/A and B/to/not (not A or not B)'
  '/ex/proof/from/not (A or B)/to/not A'
  '/ex/proof/from/not (A or B)/to/not A and not B'
  '/ex/proof/from/not A or not B/to/not (A and B)'
  '/ex/proof/from/A arrow not B/to/B arrow not A'
]



---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_282/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-139.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-140.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-142.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-143.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-144.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-145.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-146.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-147.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-148.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-149.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-150.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-151.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-152.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-153.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-154.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-155.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-156.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-157.jpeg'})
  .notes 

+slide({bkg:'unit_282/slide-158.jpeg'})
  .notes 

