---cson
layout: 'deck_units'
images: 'unit_222'
title: "∨Intro and ∨Elim"
description: "States the rules of proof for ∨, ∨Intro and ∨Elim."
tags: ['proof']
depends: []
book: ['6.2']
source: ['ph126 fastlecture 03']
duration: 2
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_222/slide-052.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/rule_disjunction_intro.png')
  .img.handout(data-src='img/rule_disjunction_elim.png')

+slide({bkg:'unit_222/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_222/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_222/slide-055.jpeg'})
  .notes 

