---cson
layout: 'deck_units'
title: "There Is a Store for Everything"
description: "Explains how to translate English sentences involving a combination of universal and existential quantifiers into FOL with an example."
tags: ['quantification','semantics','translation']
depends: ['740','742']
source: ['ph126 fastlecture 06', 'ph126 lecture 12']
duration: 10
book: ['11.2','11.3']
exercises: []
exercises_fast: ['11.8, 11.9, *11.11']
sequence: 790
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_560/slide-023.jpeg'})
  .notes 
  .handout There is a store for everything:
  .handout \hspace{3mm}	∃y∀x StoreFor(y,x) 
  .handout \hspace{3mm} 	∀y∃x StoreFor(x,y)
  .handout Other sentences to translate:
  .handout  \hspace{3mm} Wikipedia has an article about everything
  .handout  \hspace{3mm} 	Everyone hurts someone they love
  .handout  \hspace{3mm} 	Someone hurts everyone she loves


+slide({bkg:'unit_560/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-033.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-034.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-035.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-036.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-037.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-038.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-039.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-040.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-041.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-042.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-069.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-071.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-072.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-074.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-075.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-076.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_560/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_560/xslide-057.jpeg'})
  .notes 

